[2020-03-20 10:52] kunalpuriii commented on #901
@codereflection @sfudeus
Hello Guys
have we reached to any conclusion? will there by enhancement to include only the nodes with ingress controller running ?

We are using kube-router but only limited to K8's setup, we are not using dynamic protocol its all static routing in place. so advertising POD network is not an option.

Looking forward to your response.

Thanks
Kunal

[2020-03-20 20:56] codereflection commented on #901
@kunalpuriii I'm not sure if they'll make the requested change at all.  For our purposes we're either making sure that all of the cluster nodes are running the pods, or just rely on the health checks from the Big IP to the nodes to know whether or not it's going to route traffic to any given pod.  Neither is idea, but we're not experiencing any traffic loss so it's good enough for now.

[2020-03-21 13:16] kunalpuriii commented on #901
thanks @codereflection for your response, I guess we need to live with it for now or other thing is to move to cluster mode rather than node port. Did you consider moving to cluster mode?

[2020-03-21 17:51] codereflection commented on #901
@kunalpuriii cluster mode isn't an option for us.  I can't remember the details of why at the moment, but we thoroughly investigated it and had to go with node port.

[2020-03-21 18:33] chen23 commented on #901
Depending on whether you are using iptables or ipvs for kube-proxy a health monitor could help isolate to nodes where the services are running.

‘’’
externalTrafficPolicy=local
‘’’
I have not tried this myself. Not sure it would work. Another related issue #815

[2020-03-23 17:53] tocy1 opened #1214 "Allow two bigip ctrl pods to update Same resource on F5"
Is it possible to have two bigip ctrl pods in two different but identical kubernetes cluster update the same pool in F5.
We have two identical clusters with the same apps in different zones. We want to allow the two bigip ctrl to update the same pool (app) with their respective cluster pods ip to allow failover.

[2020-03-23 20:29] trinaths commented on #445
IPAM project is archived now. and CIS doesn't support such scenario.

[2020-03-23 20:29] #445 closed

[2020-03-23 20:36] mdditt2000 commented on #930
Post CIS 2.x initiative 

[2020-03-24 15:13] mdditt2000 commented on #452
PM Jira story for tracking CONTCNTR-1539. Post CIS 2.0

[2020-03-24 15:16] trinaths commented on #538
There are no enhancements to CCCL. This feature is not supported. CIS with agent AS3 will only post the change to BIG-IP when there is a change in monitored resources.

[2020-03-24 15:16] #538 closed

[2020-03-24 15:22] mdditt2000 commented on #579
Epic for CRC Alpha CONTCNTR-1506 for PM tracking. Alpha is scheduled for CIS 2.0

[2020-03-24 15:23] mdditt2000 commented on #588
CIS 2.0 new documentation improvements.

[2020-03-24 15:25] mdditt2000 commented on #593
No activity since Feb 13, 2019, Closing issue

[2020-03-24 15:25] #593 closed

[2020-03-24 15:27] mdditt2000 commented on #596
Moving to agent based logging we should significant less logging in CIS.

[2020-03-24 15:30] trinaths commented on #598
Multi cluster support can be achieved using AS3 DNS. post CIS 2.1 we want to revisit multi cluster support.

[2020-03-24 15:30] #598 closed

[2020-03-24 15:31] mdditt2000 commented on #627
Closing, no activity since 2018.

[2020-03-24 15:31] #627 closed

[2020-03-24 15:32] trinaths commented on #665
moving to AS3 as default agent to CIS.

[2020-03-24 15:32] #665 closed

[2020-03-24 15:34] mdditt2000 commented on #675
No activity since in the last six months. Revisit after CIS 2.0 CRD implementation.

[2020-03-24 15:34] #675 closed

[2020-03-24 15:40] mdditt2000 commented on #688
Resolved in CIS 1.14
Added optional command line arguments to support TLS version and Ciphers.
–tls-version to enable specific TLS version 1.2/1.3 on BIG-IP. Default 1.2
–ciphers to configure cipher suite on BIG-IP. Option valid for TLSv1.2
–cipher-group to configure a cipher-group on BIG-IP. Option valid for TLSv1.3
Note: both –ciphers and –cipher-group are mutually exclusive based on the TLS ver

[2020-03-24 15:40] #688 closed

[2020-03-24 15:44] mdditt2000 commented on #693
Issues is resolved in AS3 override. Reference a custom http profile with the x-forwarded-for setting. Review the example below.

`"ingress_10_192_75_108_80": {
                        "profileHTTP": {
                            "bigip": "/Common/http-custom"
                        },

https://github.com/mdditt2000/kubernetes-1-16/blob/master/cis%201.14/ingress%20resources/f5-as3-configmap.yaml

[2020-03-24 15:44] #693 closed

[2020-03-24 15:48] trinaths commented on #695
CIS doesn't support this. Closing the issue.

[2020-03-24 15:48] #695 closed

[2020-03-24 15:50] mdditt2000 commented on #696
AS3 override will allow you to reference irule. Example:
`
           "iRules": [
              {
                "bigip": "/appaotel1_AS3/Shared/http_redirect_irule"
              },
              {
                "bigip": "/Common/_sys_APM_ExchangeSupport_helper"
              }
              ],
`
https://github.com/mdditt2000/openshift-3-11/blob/master/issues/yosef/f5-override-as3-declaration.

[2020-03-24 15:50] #696 closed

[2020-03-24 15:51] trinaths commented on #712
inactive since 2018.

[2020-03-24 15:51] #712 closed

[2020-03-24 15:52] trinaths commented on #721
inactive since 2018.

[2020-03-24 15:52] #721 closed

[2020-03-24 15:53] trinaths commented on #722
inactive since 2018.

[2020-03-24 15:53] #722 closed

[2020-03-24 15:56] mdditt2000 commented on #741
Using AS3 override in combination of openshift route you can override CIS configured virtual snat. Here is an example:

`"snat": {
                "bigip": "/Common/RD_000_SNATPOOL_GENERIC"
              },
`
https://github.com/mdditt2000/openshift-3-11/blob/master/issues/yosef/f5-override-as3-declaration.yaml

Closing this issue out

[2020-03-24 15:56] #741 closed

[2020-03-24 15:57] trinaths commented on #751
inactive since 2018.

[2020-03-24 15:57] #751 closed

[2020-03-24 16:01] trinaths commented on #762
Using CIS with AS3, we dont post until there is change in resources being monitored. We can also configure this with as3-post-delay in controller deployment.

[2020-03-24 16:01] #762 closed

[2020-03-24 16:04] mdditt2000 commented on #784
Internal Jira CONTCNTR-1651 for PM tracking

[2020-03-24 16:07] trinaths commented on #787
use override AS3 with custom irule.

https://github.com/mdditt2000/openshift-3-11/blob/master/examples/as3-override/f5-override-as3-declaration.yaml

[2020-03-24 16:07] #787 closed

[2020-03-24 16:20] kunalpuriii commented on #879
@mdditt2000 can you cross reference the VIP in different partition through CIS AS3 integration.
e.g. Pool and pool members are in AS3 partition, however VIP in common or different partition. Does it works ? if yes can you provide reference AS3 code.

Thanks
Kunal

[2020-03-24 17:48] mdditt2000 commented on #879
@kunalpuriii soon, currently AS3 does not allow you to share VIP from a different partition. Please watch the following AS3 githib issue https://github.com/F5Networks/f5-appsvcs-extension/issues/219

[2020-03-24 18:06] kunalpuriii commented on #879
thankyou @mdditt2000

[2020-03-24 20:24] mdditt2000 commented on #1214
@tocy1 this is possible if you use different partitions and namespaces. Are you using a user-defined configmap, Ingress or routes? Mark

[2020-03-24 20:35] tocy1 commented on #1214
@mdditt2000 Am confused about your reply. We are using user defined ingress.

[2020-03-24 20:43] mdditt2000 commented on #1214
@tocy1 that answers my questions. In the controller configure use different BIGIP partitions example "--bigip-partition=controller-01", for controller one and say "--bigip-partition=controller-02", for controller two. Creating separate namespace is also good. Example namespace=prod and namespace=dev. Mark

[2020-03-24 21:32] tocy1 commented on #1214
OK I get your point. But this approach will create different pools of the same app in the different partition but what i want is a single pool in one partition where both bigip ctlr pod of each cluster will  sync their respective pod ips for the same deployment as pool members.

[2020-03-25 13:23] sorinboia opened #1215 "Ingress annotation for health check with mtls capabilities"
#### Description
Based on Kubernetes Ingress Annotations
https://clouddocs.f5.com/products/connectors/k8s-bigip-ctlr/v1.11/#supported-ingress-annotations

Allow the use of a pre-existing monitor or
Allow configuring https monitor that can incorporate a client certificate when the server is doing mutual TLS.

#### Kubernetes Version
Any

#### Controller Version
Any

#### BIG-IP Version
Any

#### Di

[2020-03-25 21:36] sfudeus commented on #695
@trinaths
I think it is clear that CIS does not support this - otherwise this issue would not exist (which is an Enhancement Request).

So is the message in fact the following?

IMHO that would shed a bit of bad light from a security perspective, since it violates the least privilege principle.
For sure, to use the full spectrum of AS3 you need full privileges. But for use-cases where only items w

[2020-03-25 23:39] tkam8 opened #1216 "Unable to use IPv6 as BIG-IP mgmt IP in deployment manifest"
#### Description
CIS unable to connect to an IPv6 IP address that is configured in the controller deployment manifest file.

#### Kubernetes Version
[root@k8s-master ~(kube-system kubernetes-admin)]# kubectl version --short
Client Version: v1.15.0
Server Version: v1.15.0

#### Controller Version
CIS 1.14

#### AS3 Version
AS3 3.18

#### BIG-IP Version
BIG-IP 14.1.0.2

#### Diagnostic Information

[2020-03-26 08:01] velascoblasco commented on #1216
CIS handles the IP address to string so it does not matter what we define as URL in in this variable we will use it for connecting to. The error shows response from destination:

2020/03/24 12:57:43 [ERROR] [AS3] REST call error: Post https://fddb:ab11:cd22:a101::10/mgmt/shared/appsvcs/declare/: invalid URL port "ab11:cd22:a101::10"

func (postMgr *PostManager) httpPOST(request *http.Request) (*ht

[2020-03-27 00:48] mitchellmaler commented on #815
Is there any status on this enhancement request? We are looking to use the controller for ingress but are worried we won't know if is is not healthy using OOTB probes. We are investigating using the metrics but it doesn't give enough to know if it is healthy #930

[2020-03-27 17:33] Kolawole-Akinwande commented on #1065
@wheestermans31 has this issue been resolved? i am experiencing it too.

[2020-03-31 19:22] sbarre-esit opened #1224 "Unable to edit TLS route"
#### Description
When I edit a OpenShift Route with TLS enabled to add or remove a path, the Controller starts throwing errors. If I unlabel the router and remove it, then label it again to add it, it works fine.

#### Kubernetes Version
[code]

#### Controller Version
`f5networks/k8s-bigip-ctlr:1.14.0`

#### BIG-IP Version
BIG-IP 14.1.2.2 Build 0.0.4 Point Release 2

#### Diagnostic Information
C

[2020-04-01 05:53] trinaths commented on #1224
can check the BIG_IP IP address correct in CIS deployment configuration,.
from the error its,
https://1.2.3.4:443/mgmt/tm/ltm/data-group/internal/~openshift-rd1~ssl_edge_servername_dg/

[2020-04-01 17:36] sbarre-esit commented on #1224
Yup, that fixed it. Can you explain why? Also why is that argument not documented on https://clouddocs.f5.com/products/connectors/k8s-bigip-ctlr/v1.14/ ?

[2020-04-01 19:19] mdditt2000 commented on #1224
Added internal CONTCNTR-1432 Jira for PM tracking to make sure agent AS3 is clearly documented. @sbarre-esit by adding "--agent=as3" you switched from using the legacy CCCL api to using the AS3 API. In CIS 2.0 "--agent=as3" will be default.

[2020-04-01 19:32] #1224 closed

[2020-04-01 19:33] #1212 closed

[2020-04-03 14:19] tkam8 opened #1229 "Manual upgrade of AS3 schema"
#### Description
The K8s cluster does not have Internet access, therefore unable to fetch latest as3-schema.json.
This prevents usage of the latest AS3 schema despite installing the latest CIS and AS3 software.
Need a way to manually install.

#### Kubernetes Version
[root@k8s-master ~(kube-system kubernetes-admin)]# kubectl version --short
Client Version: v1.15.0
Server Version: v1.15.0

#### Con

[2020-04-03 15:31] trinaths commented on #1229
CIS 1.14 is not validated with AS3 3.18.

[2020-04-03 15:31] #1229 closed

[2020-04-08 20:17] hunterx19 opened #1233 "clientssl annotation and cert/key loggin issue CIS 1.14"
I have an issue after upgrading the controller to version 1.14.
Bunch of these Warning messages are logged every 30 seconds

[code]

I am using these versions:
AS3 3.17.1
BIG-IP 14.1.2.2 build 0.0.4
oc v3.11.0+62803d0-1
kubernetes v1.11.0+d4cacc0
Problem is showing over 3 different OpenShift clusters ( two okd and one dose )

Controller config
[code]

Route

[code]

I am using AS3.

[2020-04-09 19:25] mdditt2000 commented on #588
**Manage node labels**

When using nodeport by default all nodes from the cluster will be added to the pool. In most cases you only want to add the worker nodes and exclude master nodes. To exclude master nodes using the label node-role.kubernetes.io/node parameter

Use the label node <node name> to create a new label for the node. This works in conjunction with the node-label-selector configured

[2020-04-13 19:14] mdditt2000 commented on #1233
Internal tracking PM Jira CONTCNTR-1732

[2020-04-14 21:32] tibers opened #1237 "Allow setting HTTP Profile to "none" for simple TCP forwarding"
#### Description
Enhancement: The controller defaults to HTTP Profile being HTTP, which only works for http/s services. If this is set to "none", I get simple TCP forwarding, which is what I'm after. This also makes it easier to setup HTTP forwarding if I choose not to terminate SSL on the F5.

#### Kubernetes Version
1.17.x

#### Controller Version
1.11.x?

#### BIG-IP Version
12

#### Diagnostic

[2020-04-17 13:01] anjkl opened #1240 "k8s-bigip-ctlr restart leads to application downtime"
#### Description

A restart of pod k8s-bigip-ctlr leads to downtime for applications created using iApps templates.

*Steps to reproduce*:
* Create ConfigMap for the controller as I provided below.
* Run ping to IP of your application (`ping y.y.y.y -O | perl -lne 'print scalar(localtime), ": ", $_'`)
* Delete Pod of the controller (`kubectl -n f5-bigip delete po  k8s-bigip-ctlr-deployment-xxxxx`)

[2020-04-18 10:50] L0rdWyd3r opened #1241 "k8s-bigip-ctlr allows only AS3 "3.13.0" and below"
#### Description
Hi all,
I have correclty deployed f5-bigip-ctlr on k8s cluster and f5-appsvcs v3.18.0 on bigip device.
Both workers and masters have no internet access in this case (k8s on prem).
When i try to create ingres using AS3 template in version ("schemaVersion": "3.17.0",) i have fallowing errors but

[ERROR] AS3 Template is not valid. see errors :
[ERROR] - declaration.schemaVersion: de

[2020-04-18 15:30] sorinboia commented on #1215
Anyone ?

[2020-04-18 16:45] trinaths commented on #1241
@L0rdWyd3r
When internet connectivity to fetch latest AS3 schema is not available, we take local schema availble within CIS.

Since AS3 3.13 is LTS and is locally available, CIS uses the same.

When you apply ConfigMap with Schema version 3.17, CIS validates your configMap AS3 with local schema 3.13 where validation fails and above logs the generated.

However, you can still use AS3 3.18, while al

[2020-04-18 16:45] #1241 closed

[2020-04-19 08:01] trinaths commented on #1240
contact @mdditt2000 to work with you to migrate from iApps templates to AS3 userdefined configMaps.

[2020-04-21 19:16] joebride opened #1247 "OpenShift annotation virtual-server.f5.com/whitelist-source-range blocks CIS"
#### Description
virtual-server.f5.com/whitelist-source-range does not work with CIS in AS3-mode.
When configured in one OpenShift-Route it blocks CIS and log shows "AS3 Template is not valid. see errors".
When removing whitelist, thie CIS does not recover automatically. Any other modifications to OS-Routes etc. are not accepted by CIS.
A reboot of CIS is required to make it functional again!
####

[2020-04-21 19:45] mdditt2000 commented on #1247
@dstokesf5 can we achieve the address match using the Enforcement_Rule_Flow_Filter conditions in AS3 to achieve the match values { 10.10.10.0/24 22.22.22.22/32 10.10.11.0/24 }? Do you have an AS3 example?

[2020-04-22 12:02] rlombardi12 opened #1250 "After removing Health Checks from Ingress, CIS is not updating configuration"
#### Description
Started using Ingress with health check HTTP for the App. After we remove the health check annotation from the Ingress file, CIS does not update Big-IP configuration. In order to get it updated I need to delete Ingress and recreate it. CIS should read this configuration change and update automatically. This is affecting customer environment.

#### Kubernetes Version
v1.14.10-gke.2

[2020-04-22 17:34] dstokesf5 commented on #1247
The most reliable way to recreate that LTM policy would be with AS3's Endpoint Policies. However, the tcp condition is not yet exposed: https://github.com/F5Networks/f5-appsvcs-extension/issues/211

Resolving that GitHub issue is currently a high priority for us since it is a commonly requested feature.

[2020-04-24 17:58] mdditt2000 commented on #1033
Tracking issue with internal Jira CONTCNTR-1789

[2020-04-27 07:39] liaotx opened #1255 "CC logs"
#### Description
in my k8s env ,i used CC and deployment configmap( used iapp to deployment them), i want to knew about two things.
1. in CC log  ,the info has keep scrolling ，and them is normal ?
2. if the info keep scrolling, when someday them will too much to storage？

#### Kubernetes Version
<Version of Kubernetes being used>

#### Controller Version
GitVersion:"v1.16.3"

#### BIG-IP Version
V

[2020-04-27 07:41] liaotx commented on #1255
update my info ：
Kubernetes Version
GitVersion:"v1.16.3"

Controller Version
V1.11

BIG-IP Version
V13.1.3

[2020-04-27 07:47] mr-worf opened #1256 "Using Let'sEncrypt - Issuing/renewing SSL certificates"
#### Description
Hi,
I am trying to configure automatic Let'sEncrypt TLS issuing/renewing with CIS and Kubernetes using jetstack/cert-manager. But the client SSL profile with SSL certificate provided in k8s secret has not been created and has not been attached to virtual server.

#### Kubernetes Version
v1.17.2

#### Controller Version
v1.14.0

#### BIG-IP Version
14.1.2.3 Build 0.0.5

#### Diagno

[2020-04-27 20:12] mdditt2000 commented on #1255
Internal verification to determine if this is the same as Gitlab issue issues/345. Please standby while triaged.

[2020-04-28 18:43] mdditt2000 commented on #1255
Hi @liaotx - CIS team has looked into these errors. This issue seems to be not reproduced in our environment. We observed this behavior when more than one route/configmap configured with a same host name. Can we please cross check the above configurations?

If you environment then, can we get more details on env like, number of services, number of routes, service-route association etc. so that it

[2020-04-28 19:35] liaotx commented on #1255
thanks for your responsed ,i want to description my k8s env, i used iapp tmpl to deployment my configmap.yaml (i has 7 kind tmpl and yaml,but only if i deployment 1 them still loging),and every times i deployment configmap when always logs that info. ,i want to know why it will be logs out and that is't normal?

that is my iapp-tmpl and configmap-yaml and my F5 info
###############################

[2020-04-28 22:42] mdditt2000 commented on #1096
adding userAgent for CIS 2.0

"controls": {
        "class": "Controls",
        "userAgent": "CIS/2.0 K8S/1.18",
    },

[2020-04-29 07:38] liaotx opened #1264 "CC monitor by Prometheus issue"
i know CC parameter “--http-listen-address” is use to pull data to Prometheus, but i want to know what data that Prometheus will get ,is customize by Prometheus ? what kind of data will be get by Prometheus  (all of kind ) ?

i just get some step that get node-export data but no pods ,are you has some configuration steps that how to monitor CC(pods) by Prometheus ?

#### Kubernetes Version
GitVers

[2020-04-30 15:29] Timoses commented on #1042
The same error was thrown with the configuration below and an empty `tls.crt` entry in the `argocd-secret` secret.
After fixing the `tls.crt` entry in the secret, the controller still complained with the same error. k8s-bigip-ctlr had to be restarted to fix it.

k8s-bigip-ctlr deployment (helm charts as base):
[code]
config:
[code]

Ingress:
[code]

[2020-04-30 15:37] Timoses commented on #975
Still occurs in v0.14.0

As soon as two Ingress resources are used with TLS the error is thrown:
[code]

[code]

[code]

When will this be fixed?

[2020-04-30 16:29] Timoses opened #1272 "BigIP AS3 responds with Shared/Ingress_10_5_68_71_443/rules/0/name: should match format "f5name""
#### Description
Using k8s-bigip-ctlr deployed with Helm chart and arguments:
[code]
(Trying `--agent=as3` due to https://github.com/F5Networks/k8s-bigip-ctlr/issues/975 with CCCL).

Using a simple ingress resource (see below) k8s-bigig-ctlr logs the following error:
[code]

Is there any way I can inspect the transmitted AS3 declaration? That could help in identifying the cause.

#### Kubernetes V

[2020-04-30 20:16] mdditt2000 commented on #1272
Hi @Timoses what AS3 package are you using?

[2020-04-30 20:46] mdditt2000 commented on #1272
hi @Timoses your issue with the name: argocd-server-http-ingress. Please make it smaller. The AS3 API is running into a char lengh issue. I did some testing using name argocd-http and it worked great! Here is the repo i created https://github.com/mdditt2000/kubernetes-1-18/tree/master/cis%201.14/github-issue/%231272

[2020-04-30 20:47] mdditt2000 commented on #1272
Let me know if you have any additional question.

[2020-05-01 08:01] mr-worf commented on #1256
Hi,
There is a problem with ClusterRole suggested by doc on link https://clouddocs.f5.com/containers/v2/kubernetes/kctlr-app-install.html
[code]
I changed ClusterRole to following
[code]
I got my SSL secret deployed to BigIP :)
But, I was not able to deploy multiple SSL secrets to one Ingress, only one.

[2020-05-01 09:17] Timoses commented on #1272
Thanks a lot for the feedback @mdditt2000 ! I'll give it a try asap next week.

As already mentioned: It would be great if the `k8s-bigip-ctlr` would somehow enable access to the AS3 declaration that is transmitted to F5 BigIP.
That way one could validate it e.g. via https://clouddocs.f5.com/products/extensions/f5-appsvcs-extension/latest/userguide/validate.html and do some first-hand troubleshoot

[2020-05-01 15:51] hunterx19 commented on #1077
I have the same problem in CIS 1.14
Is this fixed?

[2020-05-04 20:39] sbarre-esit opened #1281 "OCP4 uses targetPort in some routes"
#### Description
OpenShift installs with several operators that create route objects that make use of `.spec.port.targetPort` in their config. CIS doesn't seem to support this and thus the URLs are inaccessible.

[code]

The routes using `http` or `https` for their targetPort seem to work, but the ones using `6443` or `web` do not.

CIS log shows

[code]

#### Kubernetes Version
[code]

#### Contr

[2020-05-05 11:34] Timoses commented on #1272
Alright, I tested it and the following works without problem:
[code]

Also this does:
[code]

But this does not:
[code]

So the `host` hostname is also too long as well.

Does it make sense to limit this? Longer domain names should be quite common.

**Off-Topic**: For us currently f5 k8s ctlr is simply not usable as also this has not been fixed yet: https://github.com/F5Networks/k8s-bigip-ctlr/iss

[2020-05-05 15:28] sbarre-esit commented on #1281
Here is the route/svc for Prometheus as well
[code]

[code]

[2020-05-05 17:43] mdditt2000 commented on #1035
Internal Jira for PM tracking CONTCNTR-1809

[2020-05-05 19:58] mdditt2000 commented on #695
HI @sfudeus CIS uses the AS3 API to configure BIGIP which requires admin creds. At this time there is no work around.

[2020-05-05 20:00] mdditt2000 commented on #1281
Internal Jira for PM tracking CONTCNTR-1810

[2020-05-05 20:04] mdditt2000 commented on #1077
@hunterx19 issue is still in CIS 1.14. Issue is resolved in CIS 2.0

[2020-05-05 20:09] mdditt2000 commented on #1160
@veeramalla-f5 can you please close this issue out as done due to merged.

[2020-05-05 20:11] #1160 closed

[2020-05-05 20:20] mdditt2000 commented on #1093
Issues resolved in CIS 1.13 with performance improvements

[2020-05-05 20:20] #1093 closed

[2020-05-05 20:21] mdditt2000 commented on #1068
Resolved with CIS 1.14

[2020-05-05 20:21] #1068 closed

[2020-05-05 20:24] mdditt2000 commented on #1069
Closing issue out. No update since Dec.

[2020-05-05 20:24] #1069 closed

[2020-05-05 20:30] mdditt2000 commented on #1065
Jira issue CONTCNTR-1803, additional fixes coming in CIS 2.0 to remove this logging Overwriting existing entry for backend

[2020-05-05 20:40] mdditt2000 commented on #1014
Closing this issue. CIS 1.13 improvements

[2020-05-05 20:40] #1014 closed

[2020-05-05 20:43] mdditt2000 commented on #835
CONTCNTR-1160 is still backlogged.

[2020-05-06 07:33] wheestermans31 opened #1286 "Update F5 takes long time after creation/update Ingress resources"
I'm seeing the following behaviour many times. If we create new ingress resource or update, then it takes a very long time before we see the changes reflected inside the F5 console, sometimes even minutes!

We are using the BIGIP controller version 1.13.0, running inside Docker-EE , kubernetes v1.14.8-docker-1

These are the arguments of the controller

    spec:
      containers:
      - args:

[2020-05-06 07:52] mdditt2000 commented on #1286
@wheestermans31 please can you move to the new AS3 API. Here is a guide that provides what you need.

https://github.com/mdditt2000/kubernetes-1-18/blob/master/cis%201.14/QuickStartGuideCluster.md

One slight change in the arguments. Please change true to ingress

- "--manage-ingress=true"
- "--manage-routes=false"
- "--manage-configmaps=false"

Please monitor the AS3 logs using
kubectl logs -f k8

[2020-05-06 09:15] hunterx19 opened #1287 "CIS with AS3 agent doesn't work with route domains"
#### Description
When you want to use route domains with AS3 agent _AS3 partition created by the controller doesn't take route domain identifier from partition defined in controller deployment config, instead it creates _AS3 partition in route domain 0.

Consequences of that are that pool members in _AS3 partition don't have required route domain identifier and traffic flow is not working in route

[2020-05-06 18:41] wheestermans31 commented on #1286
For the AS3 api, we need Kubernetes 1.8?

[2020-05-06 18:58] trinaths commented on #1286
@wheestermans31 - No. as @mdditt2000 updated, change your controller deployment config to

[code]

[2020-05-06 19:00] wheestermans31 commented on #1286
What about the required k8s level required?

[2020-05-06 19:11] trinaths commented on #1286
@wheestermans31  please refer to [supported version matrix for CIS](https://clouddocs.f5.com/containers/v2/releases_and_versioning.html).

[2020-05-06 20:09] mdditt2000 commented on #1286
kubernetes v1.14.8 is fine

[2020-05-07 00:01] rheinzma opened #1288 "OpenShift reencrypt route not working (/partition/openshift_route_cluster_default-ca missing)"
#### Description

When creating a route in `cluster` mode with `--manage-routes=true` that is set to `reencrypt`, the server ssl profile `openshift_route_cluster_default-ca` is not created and the vServer can not be created. Also the CIS deletes the profile `openshift_route_cluster_default-ca` if manually created.

#### Kubernetes Version

OpenShift 4.4.3

#### Controller Version

Starting: Versio

[2020-05-07 00:44] mdditt2000 commented on #1288
hello @rheinzma this is resolved using the AS3 API - "--agent=as3"

Please can you move to the AS3 agent and API. Legacy CCCL api doesn't have the latest enhancements needed. Here is guide to help you. https://github.com/mdditt2000/openshift-3-11/blob/master/enviroment/standalone/big-ip-83/QuickStartGuide.md

Please use AS3-17 with CIS 1.14. The link provides guidelines on how to download the AS3

[2020-05-07 01:21] rheinzma commented on #1288
Thanks for the hint, I installed AS3 agent, however now I run into problems with route domains.

I am using route domains for the partitions to allow connecting multiple OCP clusters to a single F5 device in cluster mode (using same podNetwork). With `--agent=as3` it seems that a new partition is created on the F5 device `$OldPartitionName_AS3` and the objects are created here, however the route d

[2020-05-07 06:42] rheinzma commented on #1288
Actually I think what I see with the AS3 agent is the same issue as in https://github.com/F5Networks/k8s-bigip-ctlr/issues/1287.

[2020-05-07 07:36] rheinzma opened #1289 "[DOC] Missing documentation on how to connect multiple OCP clusters to an F5 device in cluster mode"
#### Description

Currently there is no documentation on how to connect multiple OCP clusters to a single F5 device properly in cluster mode if they have the same machineCIDR as well as the same podNetwork range. This is a common setup for OpenShift 4 IPI installations where the cluster is setup in a very opinionated way (e.g. on OpenStack).

There is some basic hints to route domains, however set

[2020-05-07 11:45] mariuszbugaj opened #1290 "Error parsing ConfigMap"
#### Description
k8s-bigip-ctrl reports errors "Error parsing ConfigMap static-as3_f5-cm-apps". Data section of configmap is correct because was verified via Postman POST and f5 big-ip don't report any issues.
Despite of the errors all configuration from configmap is correctly send and processed by f5-bigip.

#### Kubernetes Version
Openshift OCP 4.3.13

#### Controller Version
f5networks/k8s-bigi

[2020-05-08 11:14] lukibahr opened #1291 "Ingress controller can not update http_to_https redirect"
#### Description

After adding two or more ingress resources to the cluster, the ingress controller is unable to apply its config.

#### Kubernetes Version

Kubernetes cluster is running in version 1.17.2.

[code]

#### Controller Version

Controller is running in version v1.13.0.

[code]

#### BIG-IP Version

BIG-IP device is running on version `BIG-IP 15.1.0 Build 0.0.31 Final`

#### Diagnostic

[2020-05-12 14:27] prabhatkarki opened #1295 "The namespace parameter doesn't work as expected"
#### Description
Our understanding is that the namespace parameter when specified in the CIS deployment, it should only monitor for services/configmaps in that particular namespace.
However, initial tests shows that the configuration is pushed to BIGIP when configmap is created on any namespace regardless of which namespace is specified in the CIS for that BIGIP.
#### Kubernetes Version
OpenShift

[2020-05-12 16:19] mdditt2000 commented on #1145
CONTCNTR-1693 - Internal Jira. Completed the regression. Resolved in CIS 2.0 coming next week.

[2020-05-12 16:20] #1145 closed

[2020-05-12 16:22] mdditt2000 commented on #1295
CONTCNTR-1693 - Internal Jira. Completed the regression. Resolved in CIS 2.0 coming next week.

[2020-05-12 16:57] mdditt2000 commented on #1295
Closing Issue.

[2020-05-12 16:57] #1295 closed

[2020-05-12 16:58] mdditt2000 commented on #1185
CONTCNTR-1693 - Internal Jira. Completed the regression. Resolved in CIS 2.0 coming next week.

[2020-05-12 16:58] #1185 closed

[2020-05-12 22:58] mdditt2000 commented on #1291
Internal PM Jira for tracking CONTCNTR-1820. I am seeing the same issue :(

[2020-05-12 23:21] mdditt2000 commented on #1264
Hello @liaotx Did you create a Target in Prometheus to pull get node-export data? I will try that later in the week. BTW i created the following document from Prometheus to pull BIGIP metrics. https://github.com/mdditt2000/prometheus

[2020-05-12 23:48] mdditt2000 commented on #1264
You can pull data to Prometheus using the following command curl -s localhost:8080/metrics | grep bigip

[code]
I am going to try add this as a target however its rather silly that prometheus needs to know the target. Container can its address......

[2020-05-13 02:04] liaotx commented on #1264
thanks and yes  i had try use prometheus in a node-export env ,and i can get some data. but i want to know what it can get in a CC pods . i heard that prometheus can monitor CC ,but i has no idea how to use in CC

[2020-05-13 18:44] mdditt2000 commented on #1291
afternoon @lukibahr i did some additional testing. The following ingress works

[code]
Please can you make sure you using CIS 1.14 and above.

[2020-05-13 18:47] mdditt2000 commented on #1291
Working example - https://github.com/mdditt2000/prometheus/blob/master/prometheus-ingress.yaml

[2020-05-13 19:10] mdditt2000 commented on #1290
afternoon @mariuszbugaj please can you upload, contribute your user-defined configmap to my repo so that i can use for testing.

https://github.com/mdditt2000/kubernetes-1-18/tree/master/cis%201.14/github-issue/%231290

[2020-05-13 19:31] mdditt2000 commented on #1290
@mariuszbugaj it looks are using user-defined configmap and routes on the same controller. Am i correct?

[2020-05-13 19:59] mdditt2000 commented on #1287
Internal PM Jira CONTCNTR-1751. Would add option to the CIS controller that will allow for a route domain example defaultRouteDomain": 10,

Only one route domain will be support per CIS controller.

[2020-05-13 20:00] mdditt2000 commented on #1288
Internal PM Jira CONTCNTR-1751. Would add option to the CIS controller that will allow for a route domain example defaultRouteDomain": 10,

Only one route domain will be support per CIS controller.

[2020-05-13 20:10] mdditt2000 commented on #1281
@sbarre-esit checking on Jira this morning and the feature is currently in-progress. As of now we are looking good for a CIS 2.0

[2020-05-14 00:24] mdditt2000 commented on #1286
This issue can be closed.

[2020-05-14 00:24] #1286 closed

[2020-05-14 00:59] mdditt2000 commented on #1272
hi @Timoses i tested your ingress above and it works fine.
[code]
[code]
Looking at the AS3 declaration on BIGIP you can see how long the names are getting. But the host is fine.

![image](https://user-images.githubusercontent.com/12733938/81880801-37d0ce00-9543-11ea-90a0-154b8fc0ba44.png)

Please make sure you are using CIS 1.14 or later with AS3-17. I am running CIS 2.0 Beta with AS3-18. I can p

[2020-05-14 01:23] mdditt2000 commented on #1256
Afternoon @mr-worf please can you share how you deployed your secrets to BIGIP? https://github.com/F5Networks/f5-appsvcs-extension/releases/tag/v3.18.0 supports multiple SSL secrets to one Ingress. I need to provide you with a pre-release CIS 2.0 image. Can you email me m.dittmer@f5.com

[2020-05-14 01:24] mdditt2000 commented on #1256
Currently no plans todo Using Let'sEncrypt - Issuing/renewing SSL certificates
#1256

[2020-05-14 07:55] mariuszbugaj commented on #1290
Hi,

Yes, but errors are related to configmap.

[2020-05-14 08:13] trinaths commented on #1287
For Route Domain support, can you try override AS3 ?

Example override AS3

[code]

[2020-05-14 08:24] trinaths commented on #1290
@mariuszbugaj  - Can you share the configMap - `static-as3_f5-cm-apps` which is giving errors as shown in logs.

[2020-05-14 08:54] lukibahr commented on #1291
Your provided example worked. However, if we create a second ingress, which also has http-to-https redirect, it fails.
It says that an object with the name `https_redirect_dg` in the partition already exists, obviously because it has the same name. This http_redirect_dg was created by the first ingress object which has
http to https redirection enabled.

![image](https://user-images.githubusercont

[2020-05-14 09:11] veeramalla-f5 commented on #1291
@lukibahr Can you answer the below questions?

What is the CIS version that you are using?
Are the two ingresses created are in different namespaces?
Are you running controller in cccl or AS3 mode ?

[2020-05-14 09:36] mariuszbugaj commented on #1290
2020/05/14 09:35:08 [DEBUG] Finished syncing virtual servers {Namespace:lanwan ServiceName:ubi AS3Name: AS3Data:} (11.76µs)
2020/05/14 09:35:08 [DEBUG] Updated 0 of 0 virtual server configs, deleted 0
2020/05/14 09:35:08 [DEBUG] Finished syncing virtual servers {Namespace:openshift-monitoring ServiceName:telemeter-client AS3Name: AS3Data:} (11.273µs)
2020/05/14 09:35:08 [DEBUG] Updated 0 of 0 virt

[2020-05-14 10:19] veeramalla-f5 commented on #1291
@lukibahr on further analysis, I understood that this issue persists with the CCCL f5-sdk. It is observed on BIG-IP with versions 14.x and above.

Please consider updating the controller to AS3 mode.

[2020-05-14 11:22] lukibahr commented on #1291
@veeramalla-f5 we're running in cccl mode, that's true. Could you provide a specific example on how to run the controller in AS3 mode or do you have a quickstart guide for this?

[2020-05-14 12:06] veeramalla-f5 commented on #1291
@lukibahr  You can achieve it by adding the below parameter in your deployment.yml
  "--agent=as3"

Please go through the below doc for complete reference.
https://clouddocs.f5.com/containers/v2/kubernetes/kctlr-use-as3-backend.html

[2020-05-14 18:22] mdditt2000 commented on #1255
Issue has being resolved in CIS 2.0. Please note that CIS 2.0 will use AS3 agent by default

[2020-05-14 18:24] mdditt2000 commented on #1247
Internal Jira CONTCNTR-1828. Waiting for AS3-20 for support for F5Networks/f5-appsvcs-extension#211

Planning for CIS 2.1

[2020-05-14 18:27] mdditt2000 commented on #1240
@anjkl we need to start looking at migrating off iApps to a user-defined configmap or CRD. CIS 2.0 will introduce support for CRDs. Also CIS 2.0 will use AS3 by default. Moving forward their wont be fixes or changes using iApps on CCCL.

[2020-05-14 18:29] mdditt2000 commented on #1237
@tibers Have you looked at  Service_TCP classes? Does this work for you?

[2020-05-14 18:34] mdditt2000 commented on #1233
Permalink Edit Delete
amkgupta
Amit Kumar GUPTA added a comment - 16/Apr/20 2:01 AM
Github PR created to merge this fix.
CIS Sprint 37 ended 21/Apr/20

Closing issue. Fix in CIS 2.0

[2020-05-14 18:34] #1233 closed

[2020-05-14 18:41] mdditt2000 commented on #1216
Internal Jira CONTCNTR-1829

[2020-05-14 18:43] mdditt2000 commented on #1210
Resolved in CIS 2.0. No CIS reboot required when making changes to the AS3 override feature.

[2020-05-14 18:43] #1210 closed

[2020-05-14 20:14] tibers commented on #1237
I'm not following. Please provide me with a link?

[2020-05-14 22:21] rheinzma commented on #1288
I tested with the 1.14 version using `--agent=as3` and it still failes. The reencrypt route is created as normal route.

Now I get the following error with a **reencrypt** route:

[code]

Note: I used the route domain overwrite thing from https://github.com/F5Networks/k8s-bigip-ctlr/issues/1287 in ConfigMap override-as3-cm

[code]

[code]

[2020-05-14 22:27] rheinzma commented on #1289
It seems the release notes (See [Here](https://github.com/F5Networks/k8s-bigip-ctlr/blob/master/docs/RELEASE-NOTES.rst)) states:

[code]

This somehow conflicts with the statement on the website for OpenShift (See [here](https://clouddocs.f5.com/containers/v2/openshift/kctlr-openshift-app-install.html):

[code]

[2020-05-15 14:45] hunterx19 commented on #1287
I needed a quick fix so I configured new vCMP guests to avoid route domains.
But if I will have need in the future I will try this AS3 workaround.

[2020-05-15 17:02] mdditt2000 commented on #1290
Correct AS3 user-defined cfgmap isnt valid.

[code]
https://github.com/mdditt2000/kubernetes-1-18/tree/master/cis%201.14/github-issue/%231290

[2020-05-15 17:35] mdditt2000 commented on #1290
@mariuszbugaj please make the following changes

https://github.com/mdditt2000/kubernetes-1-18/commit/5c75560e3d1cb4eafd7ce5d2ae4f7ea48b48bd45

You need to remove
[code]
Please use the correct AS3 schema. You using AS3-19? I tested with AS3-18 using CIS 2.0 and successful able to deploy your CM

[code]
Used the following CM

https://github.com/mdditt2000/kubernetes-1-18/blob/master/cis%201.14/gith

[2020-05-18 06:45] #1287 closed

[2020-05-18 09:07] lukibahr commented on #1291
I've successfully enabled AS3 but get the following error:

[code]
Can't figure out what this means, howevere I found a concurrent open issue https://github.com/F5Networks/k8s-bigip-ctlr/issues/1137

[2020-05-18 09:24] veeramalla-f5 commented on #1291
@lukibahr This should not block the resource creation in BIG-IP. However, we are looking into fixing this issue asap.

Do u see anyother issues ?

[2020-05-18 09:28] Timoses commented on #1272
@mdditt2000
Thanks for your response.

We use the following versions:
* BigIP Device: BIG-IP 14.1.2.3 Build 0.0.5 Point Release 3
* f5-appsvcs-3.14.0-4.noarch (under iApps -> Package Management LX)
* k8s-bigip-ctlr:1.14.0 (running in Cluster)

I am not sure where it would be possible to configure what AS3 Schema version is used.

It's documented [here](https://clouddocs.f5.com/containers/v2/kubern

[2020-05-18 12:26] lukibahr commented on #1291
do we have to take care on any other configurations? I've created the ingress configuration as mentioned above, however no objects are created. DEBUG logs show no errors.

[2020-05-18 15:24] chihaiaalex opened #1304 "Is there a way I can enable route advertisement?"
Hi,
I'm using the F5 K8S operator to automatically provision virtual servers in the BigIP System.

Is there a way I can enable route advertisement on a virtual address?
My configuration is the following:

{

    "virtualServer": {
        "backend": {
          "servicePort": 80,
          "serviceName": "istio-ingressgateway",
          "healthMonitors": [
          {
            "protocol": "tcp

[2020-05-18 18:04] veeramalla-f5 commented on #1291
@lukibahr U should install AS3 RPM on the Big-IP. Did u get that installed? If not, Please refer.

https://clouddocs.f5.com/products/extensions/f5-appsvcs-extension/latest/userguide/installation.html

Once u install this RPM, Please restart the CIS Deployment in your cluster. If u get any further issue. Please send us error and AS3 specific logs in ur deployment.

kubectl log deploy/<cis> -n <kube

[2020-05-18 21:01] mariuszbugaj commented on #1290
Hi,

I removed AS3 schemat and put suggested CM but still controller reports errors.

2020/05/18 20:58:16 [ERROR] Error parsing ConfigMap static-as3_f5-cm-apps
2020/05/18 20:58:16 [ERROR] Error parsing ConfigMap static-as3_f5-cm-apps
2020/05/18 20:58:16 [ERROR] Error parsing ConfigMap static-as3_f5-cm-apps
2020/05/18 20:58:16 [ERROR] Error parsing ConfigMap static-as3_f5-cm-apps
2020/05/18 20:58:1

[2020-05-19 00:57] mdditt2000 commented on #1290
@mariuszbugaj can you please email me at m.dittmer@f5.com. Tomorrow setup a zoom call to look at this issue and work on a resolution.

[2020-05-19 01:02] mdditt2000 commented on #1304
@chihaiaalex would be possible to AS3 using a user-defined configmap. A user-defined configmap can expose any BIG-IP object using the AS3 API.

Advertising a route for a Service Address
https://clouddocs.f5.com/products/extensions/f5-appsvcs-extension/latest/declarations/miscellaneous.html#advertising-a-route-for-a-service-address

How do use user-defined configmap with AS3 API.
https://clouddocs.

[2020-05-19 01:09] mdditt2000 commented on #1272
Those version are correct. Correct hyphen (-) character is adding to AS3 17 and above. Please could you move to AS3-17 as the characters has was increased in AS3. Added support for dots and hyphens in Application and Tenant names, and item names longer than 64 characters in AS3-17. You could also wait a few days for CIS 2.0 to ship and is partnered with CIS 3-18. AS3-18 adds some nice features.

[2020-05-19 08:34] Timoses commented on #1272
Question: How do I upgrade to AS3-17? Does it come with a new version of k8s-bigip-ctlr?

[2020-05-19 08:35] trinaths commented on #1272
@Timoses  https://clouddocs.f5.com/products/extensions/f5-appsvcs-extension/latest/userguide/installation.html

[2020-05-19 08:39] Timoses commented on #1272
So I suspect the easy to understand answer is:
AS3-17 means using the AS3 iApp version 3.17.X on the BigIP Device.

Thanks @trinaths for the pointer. I'll try it out.

[2020-05-19 10:35] YacovNagose opened #1306 "Support source IP - Real client IP"
Description

We need to create VIPs on the F5 without Automap or SNAT, We have services that required to see the real client IP.
The only option with the bigip ctrl is AutomMap.

Actual Problem

We can't create VIP's that doesn't modify the Real client IP.

Solution Proposed
Add an argument on the Config Map to configure the Source Address Translation values on the F5 to the available options: Non

[2020-05-19 13:29] Timoses commented on #1272
Updating the AS3 iAPP version to 3.19.1 resolved the issue.
f5-big-ctlr now successfully creates the AS3 declarations in the partition "<configured_partition>_AS3" (which was manually created).

Oddly, the f5-bigip-ctlr logs still show logs like
[code]

So it seems although `--agent as3` is configured, the controller still tries to reach <configured_partition> with CCCL.

As that is another topic

[2020-05-19 13:29] #1272 closed

[2020-05-19 13:38] Timoses commented on #1272
As a side note: AS 3.17.1 did not work (although it's the latest supported version for f5-bigip-ctlr according to https://clouddocs.f5.com/containers/v2/releases_and_versioning.html)
[code]

[2020-05-19 22:02] mdditt2000 commented on #1306
afternoon @YacovNagose Sounds like you are using the legacy API called CCCL. Please note in CIS 2.0 shipping this week CCCL is not longer default. You will need to apply "agent=cccl" in the deployment manifest. We are moving to use AS3 API by default. Also not that CCCL wont receive any new features in CIS.

You have a few options

1) user-defined AS3 configmap where you can apply the

[code]
2) U

[2020-05-19 23:47] strantalis commented on #1281
This is something we need/want as well. Looking at the code this seems like it should work if you look [here](https://github.com/F5Networks/k8s-bigip-ctlr/blob/master/pkg/appmanager/resourceConfig.go#L399). Wonder if this is more of a bug?

[2020-05-20 00:42] mdditt2000 commented on #1237
@tibers here is a example using a user-defined configmap with AS3 https://github.com/mdditt2000/kubernetes-1-18/blob/master/cis%202.0/user-defined-configmap/vzn/as3-tcp-config.yaml

[2020-05-20 00:48] mdditt2000 commented on #1214
This is not a common use-case. BIG-IP has a issue with sharing objects accross partitions. To get this working you have to use the following:

Controller 1: --- namespace 1
Controller 2: --- namespace 2
Same service:
configmap using sharedNodes = true so the nodes are created in common partition. Here is a example of sharedNodes
[code]

[2020-05-20 00:48] mdditt2000 commented on #1214
Closing this issue out

[2020-05-20 00:48] #1214 closed

[2020-05-20 00:50] mdditt2000 commented on #1135
Closing this issue. Moving away from legacy iAPP in configmap to using AS3 user-defined configmaps. https://clouddocs.f5.com/containers/v2/kubernetes/kctlr-k8s-as3.html

[2020-05-20 00:50] #1135 closed

[2020-05-20 00:51] mdditt2000 commented on #1131
Closing this issue out.

[2020-05-20 00:51] #1131 closed

[2020-05-20 00:51] mdditt2000 commented on #1127
Closing this issue out.

[2020-05-20 00:51] #1127 closed

[2020-05-20 00:52] mdditt2000 commented on #1144
Closing this issue. If you continue to experience this issue please open a new issue. CIS 2.0 releasing this week.

[2020-05-20 00:52] #1144 closed

[2020-05-20 00:54] mdditt2000 commented on #1100
Issue is 6 months old. Please use CIS 2.0 releasing this week. If you continue to see issues please open a new issue with the information.

[2020-05-20 00:54] #1100 closed

[2020-05-20 00:56] mdditt2000 commented on #1179
This issue has being resolved in CIS 1.14

[2020-05-20 00:56] #1179 closed

[2020-05-20 00:57] mdditt2000 commented on #588
Documented https://github.com/mdditt2000/kubernetes-1-18/blob/master/kubernetes-faq.md#manage-node-labels Closing issue out

[2020-05-20 00:57] #588 closed

[2020-05-20 01:00] mdditt2000 commented on #1281
@strantalis CIS didnt have the code to work with targetport. This feature will be added to CIS 2.1.

[2020-05-20 01:16] mdditt2000 commented on #815
Added to CIS

https://clouddocs.f5.com/containers/v2/kubernetes/kctlr-app-install.html#run-health-checks

[code]

[2020-05-20 01:16] #815 closed

[2020-05-20 06:21] kylinsoong opened #1311 "BIG-IP VE can not catch up the Pod/Service's change after use namespace-label to isolate namespace"
#### Setup Details
 CIS Version : 1.14
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP 13.1.3
 AS3 Version: 3.19
 Agent Mode: AS3/CCCL
 Orchestration: K8S/OSCP
 Orchestration Version:
 Pool Mode: Cluster/Nodeport
 Additional Setup details: Kubernets 1.15.12, flannel host-gw

#### Description

The pool member can not update automatically once the Pod recreated after running k8s-bigi

[2020-05-20 08:30] YacovNagose commented on #1306
Hi Mark,

Thank you for the quick response.
Can you please share with me the document of the CIS 2.0? I would like to
read about it.

Best Regards,
Yacov.

On Wed, May 20, 2020 at 1:02 AM mark dittmer <notifications@github.com>
wrote:

[2020-05-21 06:19] nmenant opened #1312 "[AS3 Agent] Remove additional <partition_name>_AS3 partition"
#### Title
Remove additional <partition_name>_AS3 partition

#### Description
With CIS 1.X and CCL, you specify a partition in the controller config and it will use this partition on the targeted BIG-IP.

With CIS1.X and AS3 Agent, you have a new behavior where CIS will use the defined partition AND create another partition called <partition_name>_AS3. The first partition is used for FDB entries a

[2020-05-21 19:55] mdditt2000 commented on #1312
Internal Jira for PM tracking CONTCNTR-1678. Change is scheduled for CIS 2.1 as stated in the release-notes https://github.com/F5Networks/k8s-bigip-ctlr/blob/master/docs/RELEASE-NOTES.rst

[2020-05-22 09:22] kylinsoong commented on #1311
use --namespace has the same issue.

[2020-05-22 12:48] diaconud007 opened #1315 "F5 Pool nodes are not configured with the specified route domain by the k8s-bigip-ctrl"
Hello F5Networks Team,

I have a k8s cluster were I configured a k8s-bigip-ctrl-er. I have the following configuration:

ConfigMap:

[code]
where 52 is the ID of the routing domain.

Controller:

[code]

With this configuration, the virtual server is correctly  configured -> with route domain suffix (in my case with %52), but the nodes aren't configured as I expect  -> they are configured with the

[2020-05-22 13:35] kylinsoong commented on #1311
After verified with latest 2.0.0, this issue be fixed.  The issue be fixed in #1145, #1185, #1295

[2020-05-22 13:36] diaconud007 commented on #1304
@mdditt2000  we currently don't have the AS3 extension configured in our F5BigIP instance, but will have it 'till next week.

we will come back with feedback after testing.
Thank you,

DD on behalf of @chihaiaalex

[2020-05-22 14:37] lukibahr commented on #1291
Currently facing an issue with the length of the ingress:

[code]

I'll fix that and let you know if it works.

[2020-05-22 15:08] veeramalla-f5 commented on #1291
@lukibahr Sure, Awaiting your response.

[2020-05-22 15:35] mdditt2000 commented on #1311
@kylinsoong thank you for the feedback!

[2020-05-22 15:55] mdditt2000 commented on #1306
@YacovNagose here are the CIS 2.0 release-notes https://github.com/F5Networks/k8s-bigip-ctlr/blob/2.0-stable/docs/RELEASE-NOTES.rst
The new documentation will be published in the next few days. However during the meantime you can read about use-define configmap https://clouddocs.f5.com/containers/v2/kubernetes/kctlr-k8s-as3.html

[2020-05-22 17:07] strantalis opened #1316 "Support for X-Forwarded-Proto Header"
#### Title
Support for X-Forwarded-Proto Header

#### Description
Looking for the ability to support adding the X-Forwarded-Proto header on Openshift routes that are using edge termination for tls or tls in general.

#### Actual Problem
We ran into a issue where an application was creating Openshift routes with edge termination and because it didn’t receive the X-Forwarded-Proto https header it en

[2020-05-22 18:15] mdditt2000 commented on #1316
@strantalis this can do this very easily. Here are the steps to get this accomplished:

1) continue to create your OpenShift routes.
2) Add a AS3 override configmap to add the netopps configuration to the route. This will simply reference a HTTP custom profile where you enable your XFF header etc.

Here is the AS3 override configmap
[code]
Here is a bigger example with alot more items you can add

[2020-05-22 18:30] mdditt2000 commented on #1315
I am surprised that route domain is not working with mode CCCL. Looking into this.

Known issue with CIS using AS3 which will be resolved in CIS 2.1. Workaround is to use AS3 override https://github.com/F5Networks/k8s-bigip-ctlr/issues/1287

[2020-05-22 19:23] mdditt2000 commented on #1316
@strantalis quick correct. If you are going to use CIS 2.0 with the AS3 override please add the labels as shown below.
[code]

[2020-05-24 06:26] YacovNagose commented on #1306
Thank you! I will check it out.

On Fri, May 22, 2020 at 6:55 PM mark dittmer <notifications@github.com>
wrote:

[2020-05-25 10:09] lukibahr commented on #1291
Sometimes, it works and sometimes it doesn't. I've managed to solve the problem with the limitation of ingress name.

Now getting the following error:

`$ stern -n f5-ingress-ctrl k8s-bigip-ctlr
+ k8s-bigip-ctlr-6c7bbc5b-8l6ns › k8s-bigip-ctlr
k8s-bigip-ctlr-6c7bbc5b-8l6ns k8s-bigip-ctlr 2020/05/25 10:02:38 [INFO] Starting: Version: 1.14.0, BuildInfo: n2285-661543171
k8s-bigip-ctlr-6c7bbc5b-8l6ns

[2020-05-25 19:03] veeramalla-f5 commented on #1315
I could reproduce this issue. Assigning it to myself for further analysis.

[2020-05-25 19:09] veeramalla-f5 commented on #1291
@lukibahr
Try using --log-as3-response=true deployment parameter. It will dump the AS3 Response body with actual error in controller logs. You can post it to us, by hiding sensitive information, if any.

we have released 2.0 and new documentation is available at
- https://clouddocs.f5.com/containers/latest/userguide/

Let me know, If u still face any issues.

[2020-05-26 10:09] lukibahr commented on #1291
Our as3 configuration of the controller works now. Thank you very very much for your help.

[2020-05-26 10:09] #1291 closed

[2020-05-26 15:27] strantalis commented on #1316
I tried the override configmap but it doesn't seem to be working.
[code]
```- '--override-as3-declaration=kube-system/f5-as3-declaration'```

[2020-05-26 15:32] mdditt2000 commented on #1316
@strantalis are you using CIS 1.14 or CIS 2.0? In CIS 1.14 after creating the configmap "AS3 override the controller will need to be re-started". This is not required if you are using CIS 2.0.

[2020-05-26 15:40] mdditt2000 commented on #1315
Created internal Jira CONTCNTR-1842 for PM tracking

[2020-05-26 15:42] mdditt2000 commented on #1312
Internal Jira CONTCNTR-1678 for PM tracking

[2020-05-26 16:40] strantalis commented on #1316
I was trying both. It finally worked but not really sure what got it to update. I updated virtualPort and then removed it to see if that would update and it did but then I noticed the http profile was updated as well.

But its working now 👍

[code]

[2020-05-26 16:56] mdditt2000 commented on #1316
@strantalis with CIS 2.0 it should take effect right away.

- Create the AS3 override configmap
- Create the route. You should notice the change XFF in the BIG-IP UI.

Any other system level configuration you want to apply?

[2020-05-26 17:05] mdditt2000 commented on #1008
This is support on CIS and therefore can be closed out. Validated on CIS 1.14 and CIS 2.0

[2020-05-26 17:05] #1008 closed

[2020-05-26 17:07] mdditt2000 commented on #1077
Issue is resolved in CIS 2.0. Closing this Github issue out.

[2020-05-26 17:07] #1077 closed

[2020-05-26 17:08] mdditt2000 commented on #1065
Issue was resolved in CIS 2.0. Closing Github issue out.

[2020-05-26 17:08] #1065 closed

[2020-05-26 17:12] mdditt2000 commented on #596
This issue is resolved in CIS 2.0 with improved logging for AS3. No additional enhancements for CCCL planned

[2020-05-26 17:12] #596 closed

[2020-05-26 17:13] mdditt2000 commented on #579
Completed with the release of CIS 2.0. Please review https://github.com/mdditt2000/kubernetes-1-18/blob/master/cis%202.0/crd/CustomResource.md

[2020-05-26 17:14] #579 closed

[2020-05-26 17:41] cisbotctlr commented on #1109
Assigning issue to one of the developers using round-robin algorithm. I am just a bot.

[2020-05-26 18:08] mdditt2000 commented on #1255
Resolved in CIS 2.0

[2020-05-26 18:08] #1255 closed

[2020-05-26 18:33] mdditt2000 commented on #1096
when using CIS 2.0, CIS adds a userAgent": "CIS/2.0 K8S/1.18 to the declaration when sending to BIG-IP. You can send a GET request to BIG-IP to pull the version.

Get https://10.192.75.92/mgmt/shared/appsvcs/declare

![image](https://user-images.githubusercontent.com/12733938/82937249-af8bf900-9f44-11ea-8c2d-4ded6ad644f1.png)

[2020-05-26 18:33] mdditt2000 commented on #1096
closing issue as done.

[2020-05-26 18:33] #1096 closed

[2020-05-26 18:36] mdditt2000 commented on #1090
I've added a note in the CIS service discovery section.
https://clouddocs.f5.com/containers/v2/kubernetes/kctlr-k8s-as3.html

Closing this issue as complete.

[2020-05-26 18:36] #1090 closed

[2020-05-26 18:37] mdditt2000 commented on #1087
Completed. Added to documentation

https://clouddocs.f5.com/containers/v2/kubernetes/kctlr-as3-delete-configmap.html

[2020-05-26 18:37] #1087 closed

[2020-05-26 18:39] mdditt2000 commented on #1085
New documentation for calico.

https://clouddocs.f5.com/containers/latest/userguide/controller/calico-config.html

[2020-05-26 18:39] #1085 closed

[2020-05-26 19:34] mdditt2000 commented on #1316
@strantalis question as to why you are using namespace kube-system? Is that your default namespace.

[2020-05-26 19:39] strantalis commented on #1316
No reason just followed these [docs](https://clouddocs.f5.com/containers/v2/openshift/kctlr-openshift-bigip-ha.html) originally.

[2020-05-26 23:32] rlombardi12 opened #1319 "Support for shared nodes for CIS deployment"
#### Title
Add Support for shared nodes

#### Description
Customer wants to use different controllers per different namespaces and partitions. While trying to use this scenario CIS logs error saying there is a conflict with IP address already in use in another partition. This is blocking the customer from achieving this kind of segregation.

#### Actual Problem
Not possible to use different contro

[2020-05-26 23:47] rlombardi12 opened #1320 "Removing ingress with AS3 configmap override break CIS"
#### Title
Removing ingress with AS3 configmap override break CIS

#### Description
If AS3 Configmap override cannot find the ingress it should ignore

#### Actual Problem
Today if we remove an ingress that is being referenced by AS3 Configmap override, it simply break the controller. Every update done after this is not reflected in BigIP.

#### Solution Proposed
If AS3 Configmap override cannot f

[2020-05-27 01:38] sober-wang opened #1321 "You can used docker inspect see the Bigip username and password!"
#### Setup Details
 Build: f5networks/k8s-bigip-ctlr:1.14.0
 Agent Mode: AS3/CCCL
 Orchestration: K8S
 Orchestration Version: v1.16 v1.13.5
 Pool Mode: Cluster/Nodeport
 Additional Setup details: NSX-T and Flannel
Containers Engine:  Docker v18.06 v18.09

#### Description
When I deploy a f5-cccl pod on my k8s cluster. next I find the machine this pod running on. I can see the bigip IP address , us

[2020-05-27 02:24] sober-wang opened #1322 "When I used L4 load balances , the f5-cccl can't used IPv6 on ConfigMaps"
#### Title
The f5-cccl can't used IPv6 on ConfigMaps

#### Description
I hope when I used L4 load balances ,I can used IPv6 address.
But I wrote IPv6 address in k8s configmaps, f5-cccl can't registered the IPv6 information in to bigip

[2020-05-27 06:25] mdditt2000 commented on #1321
@sober-wang please make sure you use K8S secret when provide the big-ip creds for CIS. https://clouddocs.f5.com/containers/v2/kubernetes/kctlr-secrets.html#secret-bigip-login

[2020-05-27 06:38] mdditt2000 commented on #1319
@rlombardi12 thanks for opening this issue. @nandakishorepeddi is looking into when CIS applies/does not apply SharedNodes to the pool.

[2020-05-27 06:39] sober-wang commented on #1321
Yes, I used k8s secret resource.
[code]

[code]

[2020-05-27 10:49] Timoses opened #1323 ""Unable to find" AS3 override resource"
#### Setup Details
 CIS Version : 2.0
 Build: f5networks/k8s-bigip-ctlr:2.0.0
 BIGIP Version: BIG-IP 14.1.2.3 Build 0.0.5 Point Release 3
 AS3 Version: 3.19.1
 Agent Mode: AS3
 Orchestration: K8S
 Orchestration Version: 1.17.5
 Pool Mode: Nodeport
 Additional Setup details: Cluster set up with RKE, k8s-bigip-ctlr installed via Helm Chart

#### Description
AS3 is declarative. As such, resources whi

[2020-05-27 17:03] mdditt2000 commented on #1319
@nandakishorepeddi confirmed sharedNodes is not supported currently by our CIS. Internal PM tracking Jira CONTCNTR-1850. Update Github after next weeks sprint planning.

[2020-05-27 17:04] mdditt2000 commented on #1319
Currently no milestone.

[2020-05-27 17:05] mdditt2000 commented on #1316
@strantalis can i close this issue out?

[2020-05-27 17:25] trinaths commented on #1323
@Timoses can you try this

[code]

[2020-05-27 18:07] mdditt2000 commented on #1312
Problem: When CIS configured as AS3 Agent, CIS will use the defined partition AND create another partition called <partition_name>_AS3. The first partition is used for FDB entries and the other partition is used for AS3 config, Using two different partitions is confusing and there is no real value on relying on two different partitions.

Solution: CIS should only support a single partition and <pa

[2020-05-27 18:13] mdditt2000 commented on #1323
@trinaths your issue if more related to AS3. AS3 is responding. A good way to troubleshoot AS3 declaration is to use POSTMAN and post directly to a BIG-IP. Let us know if @trinaths recommendation resolves your issue.

[2020-05-27 18:27] mdditt2000 commented on #1322
@sober-wang we are working hard to get IPV6 support for CIS. As a workaround please use the CIS 2.0 with user-defined AS3 configmap. Here is the IPV6 configuration for the CIS controller

[code]
Please note we the PM team is tracking this item with the following internal Jira CONTCNTR-1829 - Title: Unable to use IPv6 as BIG-IP mgmt IP in deployment manifest https://github.com/F5Networks/k8s-bigip-

[2020-05-27 18:28] mdditt2000 commented on #1322
Duplicate to https://github.com/F5Networks/k8s-bigip-ctlr/issues/1216

[2020-05-27 18:39] mdditt2000 commented on #1321
Hi @sober-wang speaking with the CIS dev team they advised the the behaviour is expected from k8s secrets for cis or any other pod. We need to care about and restrict access to the nodes/pods

For more info

https://kubernetes.io/docs/concepts/configuration/secret/#best-practices

This is something, your sysadmins need to care in production.

https://blog.aquasec.com/managing-kubernetes-secrets
Pr

[2020-05-27 19:16] mdditt2000 commented on #1304
awesome @chihaiaalex @diaconud007 let me know if you need additional help.

[2020-05-27 19:35] #1316 closed

[2020-05-27 20:17] mdditt2000 commented on #1264
I updated the document.
https://github.com/mdditt2000/prometheus

Please look at the job list to get CIS into the dashboard.
https://github.com/mdditt2000/prometheus/blob/master/cis-job-name.yaml

[2020-05-27 20:23] mdditt2000 commented on #1256
@mr-worf can i view a demo of what you did to get Let'sEncrypt working with BIG-IP. I would like to add this to AS3 or document this. Please reach out to me at m.dittmer@f5.com

[2020-05-27 20:24] mdditt2000 commented on #1247
Still awaiting AS3-20. Release June 4th

[2020-05-27 20:45] mdditt2000 commented on #1209
Updated documentation
https://clouddocs.f5.com/containers/v2/kubernetes/kctlr-as3-override.html

[2020-05-27 20:45] #1209 closed

[2020-05-27 20:50] mdditt2000 commented on #1196
Behavior has changed in CIS 2.0

- ClusterIP FBD are only sent to BIG-IP once the resources is created

Please can you re-test now with CIS 2.0

[2020-05-27 20:52] mdditt2000 commented on #1192
@velascoblasco what are you asking for here?

[2020-05-27 20:54] mdditt2000 commented on #1189
CONTCNTR-1593 is done and closed. Closing this issue.

[2020-05-27 20:54] #1189 closed

[2020-05-28 05:11] trinaths commented on #1323
@Timoses can you share any update.

[2020-05-28 10:23] Timoses commented on #1323
@trinaths I will be able to test on Tuesday.

However, if I remember correctly `bigip: rancher` is what I tried initially which failed. But I will try again on Tuesday.

What did work was the following, though:
1) kubectl apply
[code]
-> /rancher_dev_test_int_AS3/Shared/rancher (iRule) is created (checked in F5 GUI)

2) kubectl apply
[code]
-> iRule `/rancher_dev_1_test_int_AS3/Shared/rancher` app

[2020-05-28 14:11] veeramalla-f5 opened #1326 "Test Issue WorkFlow using CIS BOT"
#### Setup Details
 CIS Version : 2.X
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP x.x.x
 AS3 Version: 3.x
 Agent Mode: AS3/CCCL
 Orchestration: K8S/OSCP
 Orchestration Version:
 Pool Mode: Cluster/Nodeport
 Additional Setup details: <Platform/CNI Plugins/ cluster nodes/ etc>

#### Description

#### Steps To Reproduce
1)
2)
3)

#### Expected Result

#### Actual Result

#### Diag

[2020-05-28 18:00] mdditt2000 commented on #1290
SR filed for this issue C3274502
Internal Jira filed for this issue CONTCNTR-1846

[2020-05-28 18:18] veeramalla-f5 commented on #1326
/test

[2020-05-28 18:22] veeramalla-f5 commented on #1326
/test1

[2020-05-28 18:47] veeramalla-f5 commented on #1326
/jira

[2020-05-28 18:48] sbarre-esit commented on #579
@mdditt2000 ETA on when this will be GA and not ALPHA? Also when it will support non-http ports?

[2020-05-28 20:00] #1290 closed

[2020-05-29 09:28] penghon opened #1327 "Self-signed BIG-IP certificate resulted in as3 agent internal error"
#### Setup Details
 CIS Version : 2.0
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP 15.1.0.3
 AS3 Version: 3.19.1
 Agent Mode: AS3
 Orchestration: K8S
 Orchestration Version: 1.18.2
 Pool Mode: Cluster
 Additional Setup details: bare metal / flannel

#### Description
BIG-IP has self signed certificate. Unable to get the controller pod up and running.
#### Steps To Reproduce
Just

[2020-05-29 12:32] mdditt2000 commented on #1327
@penghon if you are using a self-signed cert on BIG-IP you need to add a argument to CIS. Please add **"--insecure=true",** as shown in the example below.

[code]

More information from my repo.

https://github.com/mdditt2000/kubernetes/blob/dev/cis-1-14/howto.md#installing-as3-and-handling-ssl-certificate-verification

[2020-05-29 12:38] mdditt2000 commented on #1327
Created Jira CONTCNTR-1849 to add [Doc] Provide a page to list all CIS Config parameters

[2020-05-29 12:43] mdditt2000 commented on #1031
Closing this issue out. Questions answered.

[2020-05-29 12:43] #1031 closed

[2020-05-29 12:46] mdditt2000 commented on #1171
@anfernee ${BIGIP_PARTITION}_AS3 is dropped for CRDs and will be dropped for everything eles in CIS 2.1. Please monitor github issue https://github.com/F5Networks/k8s-bigip-ctlr/issues/1312

[2020-05-29 13:03] mdditt2000 commented on #1155
@chz8494 can you remove the nodeport nodePort: 30333 and create the service with type: nodeport

[code]

[2020-05-29 13:09] mdditt2000 commented on #1137
This error has being resolved in CIS 2.0 with the refactoring of how CIS uses AS3 override. Closing issue out.

[2020-05-29 13:09] #1137 closed

[2020-05-29 13:20] penghon commented on #1327
Thank you so much, I couldnt find the insecure option anywhere and the controller is now happy:

  Normal  Scheduled  <unknown>  default-scheduler       Successfully assigned kube-system/k8s-bigip-ctlr-9568877dc-lvv4k to kw71.ph.local
  Normal  Pulling    2m49s      kubelet, kw71.ph.local  Pulling image "f5networks/k8s-bigip-ctlr:latest"
  Normal  Pulled     2m46s      kubelet, kw71.ph.local  Succ

[2020-05-29 13:30] #1327 closed

[2020-05-29 20:43] somejfn opened #1328 "Compatiblity with bigip 12.1.5 ?"
#### Setup Details
 CIS Version : 2.X
 Build: /k8s-bigip-ctlr:1.14.0
 BIGIP Version: Big IP 12.1.5
 AS3 Version: NONE INSTALLED
 Agent Mode: CCCL
 Orchestration: K8S
 Orchestration Version:
 Pool Mode: Cluster
 Additional Setup details: K8s 1.14.4

#### Description

In CCCL mode,  this configmap produces the expected results on an LVM VE 15.1.0.3 but trying the same on our 12.1.5 bigip produces 40

[2020-05-29 20:48] somejfn commented on #1328
Also Im curious why the controller logs:  [ERROR] [AS3] Big-IP Responded with code: 401
with the controller started with agent=cccl

[2020-05-29 21:17] mdditt2000 commented on #1328
@somejfn thanks for opening this issue. cisbot assigned this @vklohiya.

From a PM perspective is there a reason why you want to stay on CCCL and not move to AS3?

[2020-05-29 21:30] somejfn commented on #1328
Hi Mark,

The team managing the F5 had serious concerns about the level of privileges required for CIS to work in AS3 mode.   We defaulted to CCCL because of that using an admin created partition and only operator level access for CIS in that partition.    AS3 would be welcomed is non-admin privileges were possible for the CIS API user.

[2020-05-30 06:12] tkam8 opened #1329 "[v2.0] as3 configmap not being watched"
#### Setup Details
 CIS Version : 2.0.0
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP 14.1.2
 AS3 Version: 3.19.1
 Agent Mode: AS3
 Orchestration: K8S
 Orchestration Version: v1.16.9
 Pool Mode: Cluster (calico)
 Additional Setup details: Openstack queens > Ubuntu 18.04 > Calico 3.14

#### Description
deployed v2.0 and it successfully creates the kubernetes_AS3 partition but it d

[2020-05-30 06:59] nandakishorepeddi commented on #1329
In CIS 2.0 version, we started supporting --namespace parameter in CIS deployment. That's the reason, configmap is not getting detected by CIS as there is no CM exists in "default" namespace. Could you please try changing the --namespace to "kube-system" as configmap exists there as per the above configuration.

[2020-05-30 07:26] tkam8 commented on #1329
Thanks, @nandakishorepeddi  so it was never enforced before?  That's probably why I didn't keep track of this arg. Works now, pls close this out.

[2020-05-30 07:29] nandakishorepeddi commented on #1329
True, Thanks @tkam8 for the response.
@mdditt2000 Please close this issue.

[2020-05-31 05:44] mdditt2000 commented on #1329
Loving this new CIS bot!! Thanks @nandakishorepeddi @tkam8 for resolving this issue. Closing out! Have a great weekend.

[2020-05-31 05:44] #1329 closed

[2020-05-31 06:26] mdditt2000 commented on #1328
@somejfn As PM for BIG-IP on the automation side can we chat with the team managing the the F5. CIS requires Admin creds to interact with BIG-IP. The reason for admin creds is due to API call that need to communicate with the user-interface. Even CCCL requires admin creds after release CC 1.7 when the user-agent was added. Those 401 codes errors are due changes in the API. are The advantage of AS3

[2020-05-31 06:28] mdditt2000 commented on #1328
@vklohiya can you review the logs and determine if you believe the APIs have changed on BIG-IP in 15.1.0.3 using the above CCCL configmap. Thanks Mark

[2020-05-31 06:31] mdditt2000 commented on #1326
@veeramalla-f5 working great! Love it.. Thank you for doing this.

[2020-05-31 06:35] mdditt2000 commented on #1056
@gsingh76 please can you try the CRDs with CIS. Still in Alpha but we adding more options on each release. https://github.com/mdditt2000/kubernetes-1-18/blob/master/cis%202.0/crd/CustomResource.md

[2020-05-31 15:01] cisbotctlr commented on #1326
cisbot will assign the issue to one of the devs. @devs, use /jira for internal tracking.

[2020-05-31 15:06] cisbotctlr commented on #1326
'cisbot will assign the issue to one of the devs. /n' + '@devs, use /jira for internal tracking.'

[2020-05-31 15:08] cisbotctlr commented on #1326
cisbot will assign the issue to one of the devs./n@devs, use /jira for internal tracking.

[2020-05-31 15:11] cisbotctlr commented on #1326
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-05-31 15:14] cisbotctlr commented on #1326
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-01 05:38] cisbotctlr commented on #1326
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-01 09:05] veeramalla-f5 opened #1332 "Dummy Issue to test cisbot"
#### Setup Details
 CIS Version : 2.X
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP x.x.x
 AS3 Version: 3.x
 Agent Mode: AS3/CCCL
 Orchestration: K8S/OSCP
 Orchestration Version:
 Pool Mode: Cluster/Nodeport
 Additional Setup details: <Platform/CNI Plugins/ cluster nodes/ etc>

#### Description

#### Steps To Reproduce
1)
2)
3)

#### Expected Result

#### Actual Result

#### Diag

[2020-06-01 09:05] cisbotctlr commented on #1332
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-01 09:06] veeramalla-f5 commented on #1332
/jira

[2020-06-01 13:10] somejfn commented on #1328
Also I want to re-iterate I did not need admin level with CCCL on 15.1.0.3 :

![image](https://user-images.githubusercontent.com/15197608/83412227-bb196d00-a3e7-11ea-8f09-c17ee7cf7d49.png)

[2020-06-01 15:31] mdditt2000 commented on #1328
@somejfn not sure i am clear on the issue you experiencing. You aren't getting any errors 400 Unexpected Error: Bad Request for uri: https://10.65.17.151:443/mgmt/tm/ltm/pool/ using LVM VE 15.1.0.3? Only get the error using 12.1.5 ?

[2020-06-01 15:38] mdditt2000 commented on #1315
CIS with agent cccl Route domain for pool members are getting updated but with AS3 it's not updated. The issue is reproduced.

[2020-06-01 15:53] somejfn commented on #1328
Hi @mdditt2000 ,

The 400s errors goes away when using a CIS user with resource admin privileges.  I can't explain how I got that to work with operator level in 15.1.0.3 although I did started with admin privileges on my first try then lowered to operator afterward...

We'll discuss internally if that is acceptable to run CIS as resource admin or find a different solution.   thank you !

[2020-06-02 11:01] mariuszbugaj commented on #1290
Hello,

I've changed name of configmap to the f5cmapps and still get errors. According name convention I see that underscore character is added automatically but it does not exist in ConfigMap definition. Where is the problem ?

[root@k8s-1-18-master 1-6279714721]# kubectl create -f static-as3_definition.yaml The ConfigMap "static-as3_definition" is invalid: metadata.name: Invalid value: "static-a

[2020-06-02 17:22] Timoses commented on #1323
@trinaths @mdditt2000
I did try trinaths suggestion. What I receive is:
[code]

[2020-06-03 12:54] tomaszmzyk opened #1335 "F5 Role for k8s-bigip-ctrl"
Hi
Build: f5networks/k8s-bigip-ctlr:2.0.0
BIGIP Version: Big IP 15.1
AS3 Version: 3.19
Agent Mode: AS3
Orchestration: Openshift
Orchestration Version:3.11

Hi
On F5 only user with Administrator role have access and k8s-bigip-ctrl works fine.
When user is Resource Administrator pod from controller have errors:

2020/06/03 12:41:34 [INFO] [INIT] Starting: Container Ingress Services - Version: 2.0.0,

[2020-06-03 12:54] cisbotctlr commented on #1335
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-04 01:40] sober-wang opened #1336 "F5 document look like a shit!"
#### Setup Details
 CIS Version : 2.0.0
 Build: f5networks/k8s-bigip-ctlr:2.0.0
 BIGIP Version: Big IP x.x.x
 AS3 Version: 3.x
 Agent Mode: AS3/CCCL
 Orchestration: K8S/OSCP
 Orchestration Version:  1.16
 Pool Mode: Cluster/Nodeport

#### Description

![image](https://user-images.githubusercontent.com/35804630/83705164-c0c0be00-a646-11ea-8726-4ab55f5941ba.png)

Fuck the F5 as3 doc.
k8s configmaps

[2020-06-04 01:40] cisbotctlr commented on #1336
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-04 04:19] snatra commented on #1336
Hi Sober,

This is an example depicted in the callflow. The highlighted cfgMap name  "myCfgMap" should be changed by the user accordingly.

refer to the previous example user-defined AS3 ConfigMap.

[2020-06-04 06:11] mdditt2000 commented on #1336
Sorry but these comments aren't helpful. We are making active improvements to CIS documentation. Please advise how we can better the documentation. But the use of bad language wont be tolerated. Closing issue out, reported user and blocked user.

[2020-06-04 06:13] mdditt2000 commented on #1322
Closing duplicate

[2020-06-04 06:13] #1322 closed

[2020-06-04 06:15] mdditt2000 commented on #1328
Thanks @somejfn That would make sense. CIS is forced to use ADMIN creds. Closing issue out.

[2020-06-04 06:15] #1328 closed

[2020-06-04 06:18] mdditt2000 commented on #1321
Closing issue out.

[2020-06-04 06:18] #1321 closed

[2020-06-04 06:27] #1336 closed

[2020-06-04 06:32] mdditt2000 commented on #1326
Closing dummy issue out!

[2020-06-04 06:32] #1326 closed

[2020-06-04 06:33] mdditt2000 commented on #1332
Closing dummy issue out

[2020-06-04 06:33] #1332 closed

[2020-06-04 08:18] sober-wang commented on #1171
The page is not found. 👇
https://github.com/mdditt2000/kubernetes/blob/dev/cis-1-11/A1/f5-as3-configmap.yaml

[2020-06-04 14:39] pedrorouremalta commented on #1287
Same problem here. But I'm using Openshift Routes. Is there any workaround that I can use in this scenario? Or the only option would be to use the CCCL agent until the option that allows to specify the default route domain to be used in the _AS3 partition be ​​released ? Thanks in advance.

[2020-06-04 16:01] kylinsoong opened #1337 "The CIS pod only matters with one namespace"
#### Setup Details
 CIS Version : 2.X
 Build: f5networks/k8s-bigip-ctlr:2.0.0
 BIGIP Version: Big IP 13.1.3
 AS3 Version: 3.19.0
 Agent Mode: AS3/CCCL
 Orchestration: K8S/OSCP
 Orchestration Version:
 Pool Mode: Cluster
 Additional Setup details: <Platform/CNI Plugins/ cluster nodes/ etc>

#### Description

After upgrade the cis pod version to 2.0.0, the cis only can monitor on one namespace, if m

[2020-06-04 16:01] cisbotctlr commented on #1337
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-04 16:09] kylinsoong commented on #1337
@cisbotctlr give me the /jira link please

[2020-06-04 16:14] mdditt2000 commented on #1337
@kylinsoong CIS can monitor multiple namespace.
[code]
Example: https://github.com/mdditt2000/kubernetes-1-18/blob/master/cis%202.0/user-defined-configmap/big-ip-92-cluster/cis-deployment/f5-cluster-deployment.yaml

[2020-06-04 18:31] AbhishekPy commented on #1337
Jira will be created only once the issue is triaged and accepted.

[2020-06-04 18:33] cisbotctlr commented on #1337
@kylinsoong Jira will be created only once the issue is triaged and accepted by dev team.

[2020-06-05 00:05] kylinsoong commented on #1337
@mdditt2000 Have you verified that config?, I just tested in my environment, it's still doesn't work.

Also, the issue come out due to the upgrade the CIS version from 1.14 to 2.0, In customer environment, there are 23 namespaces in K8S, and 24 partitions in BIG-IP, prior to the upgrade one CIS POD can monitor multiple namspaces, after upgrade, the CIS POD only watch on one namespace.

The change

[2020-06-05 02:33] trinaths commented on #1337
@kylinsoong With agent AS3, only 1 configMap across all watched namespaces will work. That means, though you configure CIS to watch multiple namespaces or use namespace-labels, you can only have ONE single configMap for all your apps. So, combine confgMap `app-as3` and `app-as3-1-partition-2-vs` to a single one and try. For Using Namespace Labels, there is an issue in 2.0 resolved and will be avai

[2020-06-05 02:37] trinaths commented on #1335
@tomaszmzyk Can you share where in documentation it's mentioned ` From documentation should work not only on Administrator Role.`. Since CIS 2.0 starts with AS3 as default agent, you need AS3 3.18 and above for the same installed in BIG-IP.

[2020-06-05 02:46] trinaths commented on #1323
@Timoses can you try the above override with `use` pointer ? and share your findings.

[code]

[2020-06-05 02:56] trinaths commented on #1312
Fix submitted. Closing this FR.

[2020-06-05 02:56] #1312 closed

[2020-06-05 05:14] kylinsoong commented on #1337
@trinaths Thanks for replying, does this is the designed behavior start from 2.0? in previous version, it's not behave like this, in previous version also use the agent AS3, but it can

1. multiple configmap in different namespace
2. multiple configmap in single namespace

Actually the customer has multiple configmap in different namespace in their current environment.

Where should put the config

[2020-06-05 07:10] tomaszmzyk commented on #1335
Hi

I have installed the latest version of AS3 3.19.
When I looked to documentation today indeed there is only Administrator role :), in earlier version have been Resource Administrator too.

Regards

P.S. We can close issue.

[2020-06-05 07:21] tomaszmzyk commented on #1335
Hi
Now I'm reading following documentation:
https://clouddocs.f5.com/containers/latest/userguide/openshift/

And there is wrote:
OCP 3.11 - one master and two worker nodes
CIS 2.0
AS3: 3.18+
BIG-IP 14.1.2.2
You will need to have the role of Administrator or Resource Administrator on the BIG-IP system.

As you see there is a information that Resource Administrator can be :)
Regards

[2020-06-05 15:04] trinaths commented on #1335
@tomaszmzyk - Thanks for sharing the info. With Admin role is the issue resolved ?

[2020-06-05 15:58] mdditt2000 commented on #1335
Documentation bug. Need to remove **or Resource Administrator**

![image](https://user-images.githubusercontent.com/12733938/83897425-71dc5c80-a70a-11ea-9221-3227e304a9c1.png)

[2020-06-05 15:58] mdditt2000 commented on #1335
/jira

[2020-06-05 17:42] mdditt2000 commented on #1335
Created internal Jira CONTCNTR-1876 for PM tracking. Assigned to technical writer to remove the "Resource Administrator"

[2020-06-05 21:51] mkanade-f5 opened #1341 "CIS does not honor "servicePort" from ConfigMap AS3"
CIS Version : 2.0
 Build: f5networks/k8s-bigip-ctlr:2.0
 BIGIP Version: Big IP 15.1.0.3
 AS3 Version: 3.18
 Agent Mode: AS3/CCCL
 Orchestration: OSCP
 Orchestration Version:4.4.5

 A single Kubernetes service exposed to multiple ports and need to have a single pool with specific port assigned to the BIG-IP . When using the AS3 decelerations in config map and define the pool with servicePort this c

[2020-06-05 21:51] cisbotctlr commented on #1341
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-05 23:07] prabhatkarki commented on #784
Hi Mark,
We are on CIS2.0 and continue to see this "unpredictable port assignment to pool" issue when more than one ports are exposed on k8s services.
Issue #1341 is reported on this on CIS2.0

Thanks
Prabhat

[2020-06-06 12:52] trinaths commented on #1337
@kylinsoong - From CIS 1.14 too the same is the behaviour. The behaviour change is, in CIS 1.14, the default agent is CCCL and in 2.0 its AS3. Though CIS is watching `n` number of namespaces, only one User defined AS3 ConfigMap is processed. For more info, please refer -  https://clouddocs.f5.com/containers/latest/userguide/config-map.html

[2020-06-07 15:00] holymam opened #1342 "Enable high-speed logging for F5-Bigip LTM VS created for Ingress"
#### Title
Enable high-speed logging for F5-Bigip LTM VS created for Ingress

#### Description
F5-bigip LTM VS high speed logging enabled is not available on the official website

#### Actual Problem
Enable high-speed logging for F5-Bigip LTM VS created for Ingress

#### Solution Proposed
Define vs high-speed logging in Ingress by means of key-value pairs

#### Alternatives
none

#### Additional c

[2020-06-07 15:00] cisbotctlr commented on #1342
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-07 15:05] holymam commented on #1321
K8s itself cannot protect the information of the controller container, this needs to modify the source code implementation, is it a function that can be enhanced,Is it a necessary feature?

[2020-06-08 02:10] myf5 commented on #1337
Customers usually use NS to mappting to project. If CIS only processes 1 AS3-Confgimap, that means different project owners need control/edit the same configmap, this may cause global issue if someone put wrong configmap. Also this is not match to RBAC mind.

[2020-06-08 04:23] kylinsoong commented on #1337
@trinaths Thanks for updating.

The key here is the big inconsistent with 1.14,

- In 1.14, the customer has lots of configmaps in different namespace, each namespace can have one or more configmap, CIS POD can watch on all these configmaps
- In 2.0, Only one configmap can be use, so after the upgrade, customer has to convert all configmaps in different  namespace to one configmap? also which name

[2020-06-08 05:14] tomaszmzyk commented on #1335
Hi
Yes with Administrator role works fine.
Regards

[2020-06-08 08:57] Timoses commented on #1323
@trinaths
Thank you. Using `use` pointer works as expected (the iRule is created and linked in the virtual server).

It should also be sufficiently documented [here](https://clouddocs.f5.com/products/extensions/f5-appsvcs-extension/latest/refguide/schema-reference.html#service-https-irules):
* `bigip`: Pathname of **existing** BIG-IP iRule
* `use`: AS3 pointer to iRule (**declared separately**)

F

[2020-06-08 09:20] trinaths commented on #1323
@Timoses  Thank you for the reply. Closing the issue.

[2020-06-08 09:20] #1323 closed

[2020-06-08 10:41] kylinsoong commented on #1337
I have finished some test and get the following founding:

* The global configmap should not put on kube-system namespace
* The cis.f5.com annotation should unique across all service, If put all in one configmap, the cis.f5.com annotation on each service should not be equal, eg, the following 2 services can not discover successfully due to they have same `cis.f5.com/as3-pool` annotation

*Service

[2020-06-08 15:25] mdditt2000 commented on #1342
Good morning @holymam. There are multiple ways to accomplish this. What high-speed logging endpoint or consumer are you logging to? Also how do you plan to enable HSL on big-ip?

[2020-06-08 17:38] strantalis opened #1343 "Redirect Support on Openshift Routes Passthrough/Re-Encrypt"
#### Title
Redirect Support on Openshift Routes Passthrough/Re-Encrypt

#### Description
Looking for additional support of ```insecureEdgeTerminationPolicy: Redirect``` on Openshift passthrough and re-encrypt routes.

#### Actual Problem
It seems when setting ```insecureEdgeTerminationPolicy``` to Redirect on passthrough or re-encrypt routes the f5 doesn't redirect initial requests on http to http

[2020-06-08 17:38] cisbotctlr commented on #1343
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-08 19:01] mdditt2000 commented on #1335
Issue and documentation resolved. Thanks @vtrippel

[2020-06-08 19:01] #1335 closed

[2020-06-08 21:17] kunalpuriii opened #1344 "F5 configuration not getting updated through F5 CIS AS3"
#### Setup Details
 CIS Version : 2.0.0
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP 13.1.3
 AS3 Version:  f5appsvc 3.17.1
 Agent Mode: AS3
 Orchestration: K8S
 Orchestration Version: v1.17.4
 Pool Mode: Cluster
 Additional Setup details: <Platform/CNI Plugins/ cluster nodes/ etc>

#### Description
AS3-CIS-F5 update not working, with the following erros
2020/06/08 20:47:18 [ERRO

[2020-06-08 21:17] cisbotctlr commented on #1344
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-08 22:21] mdditt2000 commented on #1343
After @strantalis Redirect only works with TLS Edge termination.

Without having to write/add additional code to CIS you achieve a redirect "redirect80": true for passthrough or re-encrypt routes with using the override feature

CIS will merge the JSON with "redirect80": true, to the route and send to BIG-IP. The prerequisite are AS3 - https://clouddocs.f5.com/containers/v2/kubernetes/kctlr-as3-ov

[2020-06-08 22:32] mdditt2000 commented on #1344
good after @kunalpuriii

1) Please use the following combination CIS 2.0.0 and AS3 3.18.0
2) Please can the follow arguments and send me the error

[code]

Please send me the error message.

Thanks Mark

[2020-06-09 06:47] kylinsoong commented on #1311
After some estimation, the customer still want to use CIS 1.14, rather than 2.0, so I reopen this issue, request to fix this issue in 1.14.

[2020-06-09 07:07] kunalpuriii commented on #1344
Thanks Mark for your response

Configuration are pushed to F5 now, however they are still errors, please find attached the logs

[F5-CIS logs.txt](https://github.com/F5Networks/k8s-bigip-ctlr/files/4750448/F5-CIS.logs.txt)

Thanks
Kunal

[2020-06-09 12:27] kylinsoong commented on #1311
@mdditt2000 The 2.0 enhancement not complete solve the issue. The CIS 2.0 behavior like this:

If enable namespace isolation in CIS 2.0, service auto discover/pod change catch up only works on namespace that configmap resident.

Note that the CIS 2.0 only allow one centralized confgimap, if POD/Service change in namespace that not contain confgimap, the change can not be catched by F5 VE。

---
##

[2020-06-09 19:18] mdditt2000 commented on #1344
@kunalpuriii please make sure partition/k8s is on BIG-IP

[code]

[2020-06-09 19:20] mdditt2000 commented on #1341
Internal Jira CONTCNTR-1651 for PM tracking

[2020-06-09 19:21] mdditt2000 commented on #1341
No milestone set at this time

[2020-06-09 19:26] mdditt2000 commented on #1337
@myf5 @kylinsoong you might want to switch to CRDs https://github.com/mdditt2000/kubernetes-1-18/blob/master/cis%202.0/crd/CustomResource.md

CRDs introduced in aplha CIS 2.0. Enhancements coming in CIS 2.1 which include all TLS options.

[2020-06-09 19:33] mdditt2000 commented on #1337
@kylinsoong this is regular AS3 behavior

Question -  add new tenant is affect the exist tenant?

eg, if there already has 3 tenant in configmap reference 3 partition in BIG-IP, and VS under these partitions are online in production, now modify configmap add 4th tenant, does this operation affect exist online VS? If add 4th tenant cause production VS redeploy, this will cause business inconsistent

[2020-06-09 19:38] mdditt2000 commented on #1320
/jira

[2020-06-09 20:02] mdditt2000 commented on #1311
@kylinsoong what is the namespace for both as3-1 and as3-2?

[2020-06-09 20:03] mdditt2000 commented on #1306
Closing issue out

[2020-06-09 20:03] #1306 closed

[2020-06-09 20:03] mdditt2000 commented on #1264
Closing issue out

[2020-06-09 20:03] #1264 closed

[2020-06-09 20:06] #1256 closed

[2020-06-09 20:08] #1237 closed

[2020-06-09 20:52] thomsonjames opened #1345 "Add support to CRD for adding monitors"
#### Title
Add support to CRD for adding monitors

#### Description
I know CRD's are early access, but one missing feature is definitely monitors.

#### Actual Problem
TCP and HTTP would be critical

[2020-06-09 20:52] cisbotctlr commented on #1345
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-09 22:03] prabhatkarki opened #1346 "bigip-username with non Administrator role"
#### Title
CIS with bigip-username with non Administrator role

#### Description

#### Actual Problem
According to the documentation:
For cluster type pool members, the role must be Administrator for the bigip-username
We need to have a specific CIS only be able to configure certain partition.
With the Administrator role, CIS can modify all partition
#### Solution Proposed
CIS with cluster type fo

[2020-06-09 22:03] cisbotctlr commented on #1346
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-10 01:18] kylinsoong opened #1347 "--vs-snat-pool-name not work as expect"
#### Setup Details
 CIS Version : 2.X
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP x.x.x
 AS3 Version: 3.x
 Agent Mode: AS3/CCCL
 Orchestration: K8S/OSCP
 Orchestration Version:
 Pool Mode: Cluster/Nodeport
 Additional Setup details: <Platform/CNI Plugins/ cluster nodes/ etc>

#### Description

If config `--vs-snat-pool-name`, the controller will configure each virtual server to

[2020-06-10 01:18] cisbotctlr commented on #1347
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-10 01:31] kylinsoong opened #1348 "--namespace not work as expect"
#### Setup Details
 CIS Version : 2.X
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP x.x.x
 AS3 Version: 3.x
 Agent Mode: AS3/CCCL
 Orchestration: K8S/OSCP
 Orchestration Version:
 Pool Mode: Cluster/Nodeport
 Additional Setup details: <Platform/CNI Plugins/ cluster nodes/ etc>

#### Description

`--namespace` be used in namespace isolation, which can used to define kubernetes nam

[2020-06-10 01:31] cisbotctlr commented on #1348
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-10 01:43] agupta49 commented on #1348
@kylinsoong The correct way to provide multiple namespaces arg is:
[code]
Please use this way.

[2020-06-10 01:56] agupta49 commented on #1347
@kylinsoong Please make sure, if you want virtual servers to reference a SNAT pool, it exists in the `/Common` partition on the BIG-IP device.

[2020-06-10 02:23] kylinsoong commented on #1311
@mdditt2000 as3-1 and as3-2 are the [namespace](https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/) in K8S.

In above reproduce steps, one Controller monitor on 2 namesapce(as3-1 and as3-2 ).

[2020-06-10 04:27] mdditt2000 commented on #1345
@thomsonjames thank you for opening this.

[2020-06-10 04:27] mdditt2000 commented on #1345
/jira

[2020-06-10 04:31] mdditt2000 commented on #1345
No milestone

[2020-06-10 04:33] mdditt2000 commented on #1346
@prabhatkarki role must be Administrator for the bigip-username. This is requirement coming from both AS3 and BIG-IP. Unfortunately this wont be changes on BIG-IP.

[2020-06-10 04:38] mdditt2000 commented on #1347
thanks @agupta49 another option is use a AS3 override to provide the correct snat pool for that virtual. I think global CIS based policies aren't the best way to accomplish this.

[2020-06-10 04:40] mdditt2000 commented on #1084
New docs are very clear about auth. Closing this issue out.

[2020-06-10 04:40] #1084 closed

[2020-06-10 08:00] kylinsoong commented on #1347
@agupta49 , the snat pool exist in `/Common`.

[2020-06-10 11:31] prabhatkarki commented on #1346
@mdditt2000 Thanks!

[2020-06-10 11:31] #1346 closed

[2020-06-10 19:38] chen23 opened #1351 "AS3 override not getting applied after CIS reboot/recreate in CIS 2.0"
#### Setup Details
 CIS Version : 2.0.0
 Build: f5networks/k8s-bigip-ctlr:2.0.0
 BIGIP Version: Big IP 15.1
 AS3 Version: 3.20
 Agent Mode: AS3
 Orchestration: OCP
 Orchestration Version: 4.3
 Pool Mode: Cluster
 Additional Setup details: OVS

#### Description
  changing from CIS 1.1.4.0 to CIS 2.0.0 an existing AS3 override no longer loads.

#### Steps To Reproduce
1) deploy CIS 1.14
2) see overr

[2020-06-11 01:17] strantalis commented on #1351
I noticed this issue as well. I thought it was working but I think thats when we were on 1.14 but when we upgraded to 2.0 I am not seeing the overrides anymore.

[2020-06-11 04:44] mdditt2000 commented on #1351
# AS3 override functionality
- "--override-as3-declaration=default/f5-as3-declaration"

No longer works in CIS 2.0 – Github https://github.com/F5Networks/k8s-bigip-ctlr/issues/1351

Files to re-create

https://github.com/mdditt2000/kubernetes-1-18/tree/master/cis%202.0/github-sr-issues/#1351

[2020-06-11 06:49] mdditt2000 commented on #1351
@chen23 @strantalis please make sure that if you specify ingress or routes = true and using override you also add configmap = true

Example i set ingress=true and specified everything else to false. However that way override wont work. By default the values are set to true. So i changes --manage-configmaps=true and its working.
[code]

Please let me know if you still having issue. Multiple dev fol

[2020-06-11 10:31] chen23 commented on #1351
it is working now.  in my previous configmap I had the labels indented incorrectly.  Is the labels change in the main documentation or only in the page that I referenced earlier?

[2020-06-11 12:30] strantalis commented on #1351
I think I have steps that can reproduce the problem I am seeing.

1. Initially apply the as3 override declaration while the CIS pod is running.(I noticed this does apply the override)
2. Restart the CIS pod. (After this restart it doesn't seem like CIS uses the override anymore and wipes out those changes).
3. Then if you want delete the configmap and recreate it. CIS should apply those override c

[2020-06-11 14:59] kunalpuriii commented on #1344
Hello Mark, Yes, it was there already.

[2020-06-11 15:59] kylinsoong commented on #1337
Thanks @mdditt2000 , I can have a whole picture now, seems CRD works on k8s 1.18+, not sure whether CRD is compatible with K8s prior to version 1.18. Thanks for answer my questions.

Below is a summary of my experience with CC/CIS:

1. At the early start age, we use CC with iApp(current still have run in production), there are very confused log message, then we switch to use the CCCL with CIS in n

[2020-06-11 17:43] mdditt2000 commented on #1351
@chen23 created Jira CONTCNTR-1896 for @vtrippel to update the configmap documentation

[2020-06-11 17:47] mdditt2000 commented on #1351
@strantalis please use CIS 2.0 for testing. CIS 1.14 will require a restart the CIS pod when making a change to the as3 override declaration

[2020-06-11 17:48] strantalis commented on #1351
I am running 2.0.

[2020-06-11 18:03] mdditt2000 commented on #1351
@strantalis testing with the following configuration

https://github.com/mdditt2000/kubernetes-1-18/tree/master/cis%202.0/github-sr-issues/%231351

Let me see if i see the same as you. Standby

[2020-06-11 18:35] mdditt2000 commented on #1351
AS3 override is working correctly

1) Improvements in documentation is required. Created Jira CONTCNTR-1896 and assigned to Tech writer

[2020-06-12 10:43] subbuv26 commented on #1033
PR merged. Closing issue.

[2020-06-12 10:43] #1033 closed

[2020-06-12 16:09] kunalpuriii commented on #1344
Hello Mark
This is not yet completely fixed it seems, here are the new errors with the suggested configuration
CIS 2.0.0 and AS3 3.18.0
[root@aalmglnams00001 ~] kubectl logs k8s-bigip-ctlr-deployment-b4f4bc578-hpzb7 -n kube-system
2020/06/12 16:02:27 [INFO] [INIT] Starting: Container Ingress Services - Version: 2.0.0, BuildInfo: cloud-user-efcab9e-20200522033624
2020/06/12 16:02:27 [INFO] ConfigWr

[2020-06-12 16:15] mdditt2000 commented on #1344
hello @kunalpuriii

Looks like you [ERROR] [AS3] REST call error

Please can you try provide the following log message

 kubectl logs -f k8s-bigip-ctlr-deployment-79d75fbcfb-6wcnz -n kube-system | grep --color=auto -i '\[as3'

Please note k8s-bigip-ctlr-deployment-79d75fbcfb-6wcnz needs to be your cis pod name. Get this from kubectl get pods -n kube-system

[2020-06-12 16:16] nandakishorepeddi commented on #1344
Hi Kunal,

From CIS 2.0 onwards, we support AS3 version on BIGIP >= 3.18.x. So we validate whether the AS3 version on the BIGIP to match this condition. If we haven't received the response from the BIGIP because of networking issue(i.e. timeout) or AS3 version < 3.18, we gracefully exit the CIS pod. and tries again with new pod.

Thanks,
Nanda Kishore

[2020-06-12 21:00] mkirkevo commented on #1171
Running into a similar issue to this with 2.0.0

We deployed f5networks/k8s-bigip-ctlr:2.0.0 and now we get a tenant created from the name of our
--bigip-partition=$(BIGIP_PARTITION) with _AS3 appended to it

We have been (still are) using configMaps with as3: "true" and our controller deployment does not include --agent=as3

Because of this any as3 declaration configMap add/delete/update gets ign

[2020-06-12 21:05] AMoghrabi opened #1353 "Let's Encrypt Certificate Not Applied to Virtual Server"
#### Setup Details
 CIS Version : 2.0.0
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP 15.1.0.1
 AS3 Version: 3.19.1
 Agent Mode: AS3
 Orchestration: K8S
 Orchestration Version: 1.15.11
 Pool Mode: NodePort
 Additional Setup details: Flannel (host-gw)

#### Description
  We have a certificate on the cluster called `Kubernetes-Client`. This is our certificate purchased from digicer

[2020-06-12 21:05] cisbotctlr commented on #1353
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-12 21:06] mdditt2000 commented on #1171
@mkirkevo can you please provide me with a example of your configmap you using with CIS 1.14

[2020-06-12 21:18] mkirkevo commented on #1171
I have redacted what I needed to

[code]

[2020-06-12 21:28] AMoghrabi opened #1354 "Endless Warnings About "Overwriting existing entry for backend""
#### Setup Details
CIS Version : 2.0.0
Build: f5networks/k8s-bigip-ctlr:latest
BIGIP Version: Big IP 15.1.0.1
AS3 Version: 3.19.1
Agent Mode: AS3
Orchestration: K8S
Orchestration Version: 1.15.11
Pool Mode: NodePort
Additional Setup details: Flannel (host-gw)

#### Description
Our F5 CIS is continuously overwriting entries on the F5 for no apparent reason. I don't understand what is causing the wa

[2020-06-12 21:28] cisbotctlr commented on #1354
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-12 22:22] AMoghrabi commented on #1354
Actually this seems to be happening every 25 to 30 seconds which I think matches with the poll interval for CIS to check if anything has changed on the Kubernetes side.

But if nothing has changed, why is it overwriting? If something has changed, how can I check what is changing and prevent it? Overwrites every 30 seconds is excessive, right?

[2020-06-12 22:28] mdditt2000 commented on #1171
@mkirkevo i am doing some testing. Should should only be getting app_k8s_dev tenent. No _AS3 should be applied to a user-defined configmap.

Standby while i do additional testing. I think i might know what is going on.

[2020-06-12 22:45] mdditt2000 commented on #1171
@mkirkevo mat i am only seeing just the AS3 tenent getting created

[code]
applied blank

[root@k8s-1-18-master blank]# kubectl apply -f f5-as3-configmap.yaml
Warning: kubectl apply should be used on resource created by either kubectl create --save-config or kubectl apply
configmap/f5-as3-declaration configured
[root@k8s-1-18-master blank]#

Logs
[kube@k8s-1-18-master root]$ kubectl logs -f k8s-bi

[2020-06-12 22:56] mkirkevo commented on #1171
@mdditt2000
maybe we can have a quick screen share on this next week and I can reproduce this step by step?

[2020-06-12 23:09] mdditt2000 commented on #1171
@mkirkevo mat please email me at m.dittmer@f5.com so i can send you a zoom meeting for next week. thanks! have a great weekend

[2020-06-15 12:44] tomaszmzyk opened #1355 "k8s-bigip-ctl and F5 more than one pool in configuration (automatically change IP addresses)"
CIS Version : 2.0.0
Build: f5networks/k8s-bigip-ctlr:latest
BIGIP Version: Big IP 15.1.0.2
AS3 Version: 3.19.1
Agent Mode: AS3
Orchestration: Openshift
Orchestration Version: 3.11
Pool Mode: ClusterIP

Hi
I read some github about more than one pool in AS3 configuration.
I prepared a AS3 config with two pools according to this document.
Below is section with this pools:
"HELLOWORLD1": {

[2020-06-15 12:44] cisbotctlr commented on #1355
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-15 13:57] vklohiya commented on #1355
@tomaszmzyk ,you don't need to put any IP address in pool definition as it's dynamically learned by CIS by reading service endpoint. You can create pool without any endpoints in configmap as follows:

"HELLOWORLD1": {
"class": "Pool",
"monitors": [
"http"
],
"members": [
{
"servicePort": 8080,
"serverAddresses": []
}
]
},
"HELLOWORLD2": {
"class": "Pool",
"monitors": [
"http"
],
"members": [
{
"se

[2020-06-15 19:53] rlombardi12 opened #1358 "Multiple ClientSSL Profiles attached to same virtual"
#### Setup Details
 CIS Version : 2.0.0
 Build: f5networks/k8s-bigip-ctlr:2.0.0
 BIGIP Version: Big IP 15.0.1
 AS3 Version: 3.20.0
 Agent Mode: AS3
 Orchestration: OSCP
 Orchestration Version: 3.11.0
 Pool Mode: Cluster
 Additional info: Controller default SNI SSL profile
"--default-client-ssl=/Common/clientssl-sni"

#### Description
When using CIS 2.0 with support to multiple client SSL profiles

[2020-06-15 19:53] cisbotctlr commented on #1358
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-16 11:02] anjkl opened #1359 "Pod lifecycle and F5 bigip controller"
#### Title
ReadinessGates and F5 bigip controller

#### Description
Implement ReadinessGates feature to F5 bigip controller.

#### Actual Problem
We use f5-bigip-ctrl in cluster mode (`--pool-member-type=cluster`). In some cases it leads to entire application downtime as it was described in https://github.com/F5Networks/k8s-bigip-ctlr/issues/1009.

#### Solution Proposed
I want to have a guarantee

[2020-06-16 11:02] cisbotctlr commented on #1359
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-16 13:39] tomaszmzyk commented on #1355
Hi
Indeed. Thanks for information. I tested and works as expected.

Regards

[2020-06-16 13:39] #1355 closed

[2020-06-16 15:35] mdditt2000 commented on #1354
@nandakishorepeddi is this related to docs | CIS floods "[WARNING] [CORE] Overwriting existing entry for backend {ServiceName:svc-99 ServicePort:443 Namespace:default} and resource ose-vserver" (#408)

[2020-06-16 15:43] nandakishorepeddi commented on #1354
No I believe Mark, I tried using CIS in Cluster mode when configuring edge routes and the messages are not flooded every 30 seconds in my case, but this issue is reported in NodePort Mode. I will give a try.
@AMoghrabi which type of routes are you using i.e. edge/reencrypt/passthrough etc. If possible could you post your route configuration here to understand the issue further.

[2020-06-16 15:46] AMoghrabi commented on #1354
Thanks @nandakishorepeddi and Mark.

@nandakishorepeddi , sorry I'm a new to the F5. Where can I find my route configuration?

[2020-06-16 15:50] nandakishorepeddi commented on #1354
If you have access to kubectl or oc client, please try the below command:
"oc get routes -n <namespace_where_routes_exist> -oyaml"

[2020-06-16 16:52] AMoghrabi commented on #1354
Hey @nandakishorepeddi , we aren't using OpenShift so I used `kubectl`. I get an error from the API server because a resource type of `routes` doesn't exist:

[code]

 Did you mean you'd like me to fetch my ingresses and/or services?

[2020-06-16 16:56] nandakishorepeddi commented on #1354
Extremely sorry. I thought you were using Openshift. Could you please post the ingress resources which CIS is listening.

[2020-06-16 17:34] AMoghrabi commented on #1354
Not a problem! Sorry I should have clarified that.

First. here is the warning in the CIS controller that relates to our test-service (named `david-cats`) ingress:

`2020/06/16 17:05:43 [WARNING] [CORE] Overwriting existing entry for backend {ServiceName:david-cats ServicePort:80 Namespace:default} and resource ingress_10-230-0-22_443`

Ingress:

[code]

[2020-06-16 17:58] AMoghrabi commented on #1354
I'm not sure if this is helpful information or if this is a symptom of the above errors, but I noticed when I try to hit the site via incognito mode in my web browser, it'll hang for maybe 5-10 seconds and then I get a "Connection Reset", finally the page auto-refreshes and I get a 200 OK.

This doesn't happen all the time. If I open and close incognito mode 2-3 times I can usually replicate the i

[2020-06-17 10:27] tomaszmzyk opened #1361 "AS3 httpUri path options not working in Endpoint_Policy"
**Setup Details**
CIS Version : 2.X
Build: f5networks/k8s-bigip-ctlr:1.14
BIGIP Version: Big IP 15.1.0.2
AS3 Version: 3.19.0
Agent Mode: AS3/CCCL
Orchestration: Openshift 3.11
Orchestration Version:
Pool Mode: Cluster
Additional Setup details: <Platform/CNI Plugins/ cluster nodes/ etc>

**Description**

Hi
I prepared config map with configuration containing use a LTM Policy.
I tried redirect reque

[2020-06-17 10:27] cisbotctlr commented on #1361
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-17 14:26] nandakishorepeddi commented on #1354
I would see secrets are not referenced in the above ingress resource. Could you please create the secret try to reference the same under "tls" section. Please refer this example : https://github.com/F5Networks/k8s-bigip-ctlr/blob/master/docs/_static/config_examples/ingress/single-service-tls-ingress.yaml

[2020-06-17 17:36] Scoi4101 opened #1362 "HTTP Header problem - iv-groups"
#### Setup Details
CIS Version : 2.0
 Build: f5networks/k8s-bigip-ctlr:2.0
 BIGIP Version: Big-IP version v14.1.2.3
 AS3 Version: 3.18
 Agent Mode: AS3
 Orchestration: OSCP
 Orchestration Version: 4.3
 Pool Mode: Cluster

#### Description
When using Edge termination and the client request includes an HTTP Header that is similar to the below then the openshift_passthrough_irule has a TCL error and

[2020-06-17 17:36] cisbotctlr commented on #1362
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-17 17:51] pdp2shirts opened #1363 "Documentation: Typo in https://clouddocs.f5.com/containers/latest/userguide/controller/config-options.html"
#### Setup Details
 CIS Version : 2.X
 Build: f5networks/k8s-bigip-ctlr:latest

#### Description
In the ClusterIP section of https://clouddocs.f5.com/containers/latest/userguide/controller/config-options.html the third bullet point has this text:

"Alternately Pod rotatable through network, for example:"

should be:

"Alternately Pod routable through network, for example:"

I'll submit a PR for th

[2020-06-17 17:51] cisbotctlr commented on #1363
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-18 15:08] mdditt2000 commented on #1363
@vtrippel can we please make a modification to the document that @pdp2shirts pointed out.

"Alternately Pod **rotatable** through network, for example:"

should be:

"Alternately Pod **routable** through network, for example:"

@vtrippel do you need me to open a JIRA?

[2020-06-18 15:20] mdditt2000 commented on #1351
Documents updated. https://clouddocs.f5.com/containers/latest/userguide/config-map.html. Closing issue

[2020-06-18 16:30] vtrippel commented on #1363
This is fixed now: https://clouddocs.f5.com/containers/latest/userguide/controller/config-options.html#clusterip

Thank you!

[2020-06-18 16:30] #1363 closed

[2020-06-18 17:08] mdditt2000 commented on #1354
/Jira

[2020-06-18 17:10] mdditt2000 commented on #1354
/jira

[2020-06-18 17:13] AMoghrabi commented on #1354
Hey @nandakishorepeddi,

So we have two certificates. One is default certificate that we manually placed on the F5. We can reference this certificate just fine in our ingress.

Second certificate is generated by Let's Encrypt. This secret appears on the F5 but not in the "Selected" column of the virtual server. This is in reference to my second ticket I opened: https://github.com/F5Networks/k8s-bi

[2020-06-18 17:14] AMoghrabi commented on #1354
One last thing I want to mention is we moved away from using this tool as our ingress-controller. Instead we are using it to populate the F5 with our nodes and sending traffic to an nginx-ingress, which was our ultimate goal in the first place.

[2020-06-18 20:17] mdditt2000 commented on #1361
afternoon @tomaszmzyk the following declaration should work perfectly for you.
[code]
Can i see your full AS3 declaration. Please update the JSON file to the issue

[2020-06-19 15:13] anjkl opened #1366 "Migration from iApps to AS3"
#### Setup Details
All tests was checked with the following setup:
Build: f5networks/k8s-bigip-ctlr:1.14.0 (Version: 1.14.0, BuildInfo: n2285-661543171) and 2.0.0 (Version: 2.0.0, BuildInfo: cloud-user-efcab9e-20200522033624). Details are bellow.
BIGIP Version: BIG-IP 14.1.2.3 Build 0.0.5 Point Release 3
Agent Mode: Both AS3 and CCCL. Details are below.
Orchestration: K8S
Orchestration Version: 1.

[2020-06-19 15:13] cisbotctlr commented on #1366
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-19 19:25] anfernee opened #1367 "AS3 logs show up in bigip controller even when AS3 isn't enabled"
#### Setup Details
 CIS Version : 2.X
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP 1.14.0
 AS3 Version: 3.20
 Agent Mode: CCCL
 Orchestration: K8S
 Orchestration Version: 1.16.8
 Pool Mode:Nodeport

#### Description
We didn't enable as3 mode, but the controller still prints the error messages:
[code]

#### Expected Result
It shouldn't complain because we are running cccl mode.

[2020-06-19 19:25] cisbotctlr commented on #1367
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-23 12:22] nmenant commented on #1366
Hi,

i've tested the following configuration without issue:

apiVersion: v1
metadata:
  name: f5-as3-external-dns
  labels:
    f5type: virtual-server
    as3: "true"
data:
  template: |
    {
        "class": "AS3",
        "declaration": {
            "class": "ADC",
            "schemaVersion": "3.13.0",
            "id": "f70f24b8-1c4a-4b46-9c35-19d79fc94a9e",
            "PARTITION_DNS": {

[2020-06-23 16:38] anjkl commented on #1366
`f5-appsvcs` has been updated to version `3.20.0-3` (3.19 used before) and I see the same issue.

`f5networks/k8s-bigip-ctlr:2.0.0` works with AS3 but not with iApp (it just deletes all objects that were created using iApps) as I described above.

It means we cannot upgrade the controller to 2.0.0 version because we use iApps in production.

[2020-06-23 16:44] mdditt2000 commented on #1366
good morning @anjkl

what iApp btw are you using?

[2020-06-23 16:53] mdditt2000 commented on #1366
Please note that CIS 2.0 uses the AS3-18 schema. Updating to version 3.20.0-3 wont make much difference. Please can we open a F5 support ticket so we can have support look at the why the iApp with legacy configmap isnt not working in CIS 2.0

[2020-06-23 17:02] mdditt2000 commented on #1366
SR opened C3309528 - Please use the SR to continue to work this issue. This Github can be closed so we do not duplicate work.

[2020-06-24 10:33] chen23 opened #1375 "IP conflict when using ConfigMap and Routes together"
#### Setup Details
 CIS Version : 2.0
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP 15
 AS3 Version: 3.20
 Agent Mode: AS3
 Orchestration: OCP
 Orchestration Version:    4.3
 Pool Mode: Cluster
 Additional Setup details: OVS

#### Description

When using ConfigMap and Route together it is possible to create an IP conflict when a Route resource is using an IP address for a node th

[2020-06-24 10:33] cisbotctlr commented on #1375
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-24 15:14] mdditt2000 commented on #1375
@chen23 CIS needs to support SharedNodes. Please review Github issue https://github.com/F5Networks/k8s-bigip-ctlr/issues/1319

[2020-06-24 15:20] mdditt2000 commented on #1367
@anfernee please can i see your CIS deployment arguments. I can see you are wanting to use the legacy Container Connector API **Agent Mode: CCCL**. This was the default API in CIS 1.x. When moving to CIS 2.0 we switched the default API to **Agent Mode: AS3**

Without specifying agent=cccl in the CIS deployment arguments running CIS 2.0, CIS will be used. Therefore what you are seeing is correct. P

[2020-06-24 15:21] mdditt2000 commented on #1366
Closing issue as support is working the SR. Duplicate item

[2020-06-24 15:22] #1366 closed

[2020-06-24 16:15] anfernee commented on #1367
I am using CIS 1.14, and it's using cccl mode.

The arguments:
[code]

[2020-06-24 18:01] mdditt2000 commented on #1367
Thanks @anfernee in CIS 1.14 you wont see
[code]
Please make sure your image is pointing to f5networks/k8s-bigip-ctlr:1.14.0 and not the latest image. If you think you still seeing [ERROR] [AS3] REST call error, i need to see the K8S logs after the controller is restarted

Thanks Mark

[2020-06-24 18:31] mdditt2000 commented on #1361
Changing issue to Waiting to close.

[2020-06-25 09:15] tomaszmzyk commented on #1361
Hi
I tried with path also, and this is the same situation as described by me.
I used the another schema:
                                     "type": "httpHeader",
                                        "name": "Host",

This work as expected.
Regards

[2020-06-25 14:55] mdditt2000 commented on #1361
@tomaszmzyk excellent thanks Tom for the update

[2020-06-25 14:55] #1361 closed

[2020-06-25 17:27] anfernee commented on #1367
I was running CIS 1.14 (It also applied to previous releases like 1.13) and I saw that error message. I think the error I war running into was from postmanager, which is not gaurded by mode=as3: https://github.com/F5Networks/k8s-bigip-ctlr/blob/v1.14.0/cmd/k8s-bigip-ctlr/main.go#L777-L788

[2020-06-25 18:25] mdditt2000 commented on #1351
Re-opened issue:
When CIS 2.0 reloads the AS3 override is sometimes removed. This issue has being resolved and will be released in CIS 2.1 - Internal Jira CONTCNTR-1898 for PM tracking

**Hotfix available** - please contact me if you need the hotfix until CIS 2.1

[2020-06-25 20:09] mdditt2000 commented on #1311
Escalation SR 1-6382539511
Internal PM Jira filed for Sprint 43 - CONTCNTR-1948

[2020-06-25 20:13] mdditt2000 commented on #1311
@kylinsoong i have recreated the issue and see what is going on. CIS 2.0 is only allowing a single configmap. CIS 1.14 does allow you to add multiple configmap.

[2020-06-25 20:16] mdditt2000 commented on #1345
Merged https://github.com/F5Networks/k8s-bigip-ctlr/pull/1369

[2020-06-25 20:19] mdditt2000 commented on #1348
Escalation SR 1-6382539511
Internal PM Jira filed for Sprint 43 - CONTCNTR-1948

https://github.com/F5Networks/k8s-bigip-ctlr/issues/1311

Allow for CIS 2.0 to support multiple user-defined configmaps like 1.14. This will resolved this issue.

[2020-06-25 20:20] mdditt2000 commented on #1348
Related. https://github.com/F5Networks/k8s-bigip-ctlr/issues/1311

[2020-06-25 20:22] mdditt2000 commented on #1348
@prabhatkarki @kylinsoong CIS 2.1 will resolve this issue. Allow for CIS 2.x to support multiple configmaps

[2020-06-25 20:25] mdditt2000 commented on #1367
@anfernee are you using user-defined configmap, ingress or routes? I am going to try reproduce this

[2020-06-25 20:54] mdditt2000 commented on #1367
I see the same error

[code]
@agupta49 why in CIS 1.14 is CIS trying to declare to BIG-IP when using CCCL agent "default"?

Follow-up on standby

[2020-06-26 03:54] agupta49 commented on #1367
@mdditt2000 As we can switch between CCCL and AS3 mode. CIS doesn't know the previous agent state information. To clear the AS3 partition data in CCCL mode CIS is posting an empty AS3 declaration. CIS upcoming release with single partition support will fix this.

[2020-06-27 15:27] pedrorouremalta opened #1378 "Add support to customize the virtual server name with Ingress resources"
#### Title
Add support to customize the virtual server name with Ingress resources

#### Description
Currently, when using CIS with Ingress resources, a virtual server is created with a name following the pattern: "ingress_<IP with dots replaced by underscore>_port".

#### Actual Problem
The default name pattern used by Ingress resources when naming virtual servers is not meaningful which makes di

[2020-06-27 15:27] cisbotctlr commented on #1378
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-30 15:34] rushins opened #1382 "no matches for kind "Deployment" in version "extensions/v1beta1""
#### Description
  deploying f5-controller.yaml getting error

#### Steps To Reproduce
kubectl create -f f5-controller.yaml
---
no matches for kind "Deployment" in version "extensions/v1beta1"

i changed extensions/v1beta1 to apps/v1 , however it is not creating due to "missing required field "selector" in io.k8s.api.apps.v1.DeploymentSpec"

any solution to fix this.

[2020-06-30 15:34] cisbotctlr commented on #1382
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-06-30 15:39] agupta49 commented on #1382
@rushins Can you please share your environment details and f5-controller.yaml configuration.

[2020-06-30 16:39] mdditt2000 commented on #1337
Going to be resolved in CIS 2.1 - Internal PM Jira task CONTCNTR-1945 - Remove "--userdefined-as3-declaration" from the deployment arguments. And cleanup all the dependent code.

Duplicate of https://github.com/F5Networks/k8s-bigip-ctlr/issues/1311

[2020-06-30 16:41] mdditt2000 commented on #1367
Resolving in CIS 2.1

[2020-06-30 16:46] mdditt2000 commented on #1382
@rushins please use the new apiversion apps/1 as "extensions/v1beta1" is depreciate as of K8S 1.16

[code]

https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

[2020-06-30 16:46] mdditt2000 commented on #1382
Here is a working example
https://github.com/mdditt2000/kubernetes-1-18/blob/master/cis%202.0/crd/big-ip-92-cluster/cis-deployment/f5-cluster-deployment.yaml

[2020-06-30 16:59] mdditt2000 commented on #1362
SR Opened for this issue 1-6433914661

[2020-06-30 17:05] rushins commented on #1382
yes i tried that

i think i mentioned that i tried and it complains about selector which also i tried. here is the changes i made but the selector seems bothering
-----

apiVersion: apps/v1
kind: Deployment
metadata:
  name: k8s-bigip-ctlr-deployment
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: k8s-bigip-ctlr
  template:
    metadata:
-----

[2020-06-30 17:06] mdditt2000 commented on #1362
Closing Github issue so there is no duplicate effort created. The SR will take a higher priority. F5 support requested to reproduce this issue and determine if its the CIS iRule or TLS policy that is dropping the header

[2020-06-30 17:06] #1362 closed

[2020-06-30 17:10] mdditt2000 commented on #1375
Jira created in the backlog for this issue. Jira CONTCNTR-1850 for PM tracking

[2020-06-30 17:17] mdditt2000 commented on #1315
Jira is now closed - CONTCNTR-1842 - Shipping in CIS 2.1 next month

**Resolution** - CIS with cccl mode with userdefined configmap for VS, route domain is updated properly and for pool member, route domain needs to create the "route domain" on BIG-IP first for that partition and assign it using default route domain. We have an automation test case for this and its getting pass.

Closing issue out

[2020-06-30 17:17] #1315 closed

[2020-06-30 17:21] mdditt2000 commented on #1288
Jira is closed and resolved. Release is CIS 2.1 shipping next month. Closing Github

[2020-06-30 17:21] #1288 closed

[2020-06-30 17:26] mdditt2000 commented on #1351
Jira is closed and merged and will be released in CIS 2.1 middle of next month. Closing this issue out

[2020-06-30 17:26] #1351 closed

[2020-06-30 17:35] mdditt2000 commented on #1382
what version of K8S are you using?

You also need the following with the API change if you are using K8S 1.16 and above

[code]

[2020-06-30 18:07] rushins commented on #1382
its 1.17.5 (not latest & great)

yes i do have the selector , matchLabels and App data too.
i think i have mentioned before . here is below again.
---

metadata:
name: k8s-bigip-ctlr-deployment
namespace: kube-system
spec:
replicas: 1
selector:
matchLabels:
app: k8s-bigip-ctlr

----
i get this error "selector` does not match template `labels`" ?

[2020-06-30 18:12] mdditt2000 commented on #1345
Status: | Review Done
Done

Jira is closed. HTTP/HTTPS health monitors added in CIS 2.1 released in a few weeks. Closing this issue

[2020-06-30 18:12] #1345 closed

[2020-06-30 18:14] mdditt2000 commented on #1034
CONTCNTR-1796 closed. HTTPS/HTTP monitors added to CIS 2.1. Release image in July. Closing issue out.

[2020-06-30 18:14] #1034 closed

[2020-06-30 18:17] mdditt2000 commented on #1382
@rushins please can you provide your cis deployment. Please remove any username/passwords. Thanks

[2020-06-30 18:18] mdditt2000 commented on #1367
Closing this issue out. CIS 2.1 released in a few weeks.

[2020-06-30 18:18] #1367 closed

[2020-06-30 18:31] mdditt2000 commented on #452
[PoC] for High Availability is completed Jira CONTCNTR-1539. New Jira needs to be created for development task to move to a single controller. Planning for post CIS 2.1

[2020-06-30 18:34] mdditt2000 commented on #1247
Closing Github issue. Issue is resolved and will be available in CIS 2.1

Status: | Review Done
-- | --
Done

Have a wonderful vacation. Working on getting the three issue for AB testing also resolved in CIS 2.1

[2020-06-30 18:34] #1247 closed

[2020-06-30 18:41] mdditt2000 commented on #1171
Issue is resolved in CIS 2.1 in the following Jira CONTCNTR-1945 - [AS3 Configmaps] Remove userDefinedAS3 Deployment argument to support multiple user Defined AS3 Configmaps --- **sprint 43**

Also Jira CONTCNTR-1678  [CIS Agent] - Single partition for agent - **Done**

[2020-06-30 19:00] rushins commented on #1382
i deleted everything and recreated by having proper
1) apiVersion: apps/v1
2)   selector:
    matchLabels:
      app: k8s-bigip-ctlr
3)     metadata:
      name: k8s-bigip-ctlr
      labels:
        app: k8s-bigip-ctlr

after this the controller POD running.

now i have another issue which is i think in F5 self-ips for my workload, so not sure to whom i need to put that issue for fix.

[2020-06-30 22:38] mkirkevo commented on #1171
thank you Mark and team, much appreciated.

[2020-07-01 00:05] mdditt2000 commented on #1281
Wrapping up CIS 2.1. Closing this issue out as issue is done. CIS 2.1 will be available middle of July. TY

[2020-07-01 00:05] #1281 closed

[2020-07-01 00:07] mdditt2000 commented on #1382
@rushins thats great news your controller deployment is running. Please open another Github issue for F5 self-ips for my workload. The CIS team are here to help you resolve any issue.

[2020-07-01 00:07] #1382 closed

[2020-07-01 00:16] mdditt2000 commented on #1009
CIS will be adding a leader election mechanism post CIS 2.1. Moving to a single controller is required for OCP 4.6 and therefore we are looking at either a 2.2 or 2.3 release depending on some upcoming bug fixing.

However moving to a single controller for a BIG-IP cluster doesn't solve the issue if your Node dies. Even with  single controller for a BIG-IP cluster with leader election mechanism yo

[2020-07-01 00:31] mdditt2000 commented on #1009
Changed title as this request enhancements is requesting CIS redundancy and has nothing todo with BIG-IP HA or BIG-IP clustering. @anjkl would like multiple CIS instances running in a K8S cluster. Today CIS runs a single instance. Moving to redundant CIS pods in a cluster is something CIS should look at after moving to a single controller for a BIG-IP HA environment. However moving to a single con

[2020-07-01 00:37] mdditt2000 commented on #1359
Discussing this request with the CIS team

[2020-07-01 00:45] mdditt2000 commented on #1358
@vklohiya do we have a Jira for this Github. AS3 added multiple ClientSSL Profiles in AS3-18. I thought @trinaths added a feature to allow for multiple profiles or was it just using AS3 override?

[2020-07-01 00:53] mdditt2000 commented on #1354
@AMoghrabi using CIS to automate nginx-ingress is a very smart options. Please read more about that solution documented at https://devcentral.f5.com/s/articles/Better-together-F5-Container-Ingress-Services-and-Nginx-Ingress-Controller-Integration

Is this issue still a concern or can i close this issue?

[2020-07-01 00:55] mdditt2000 commented on #1354
Jira CONTCNTR-1923 filed for this BUG for PM tracking

[2020-07-01 01:05] mdditt2000 commented on #1347
@kylinsoong did you try using the AS3 override to handle the SNAT

            "snat": {
                "bigip": "/Common/SNAT_Pool_MP"
              },

You can simple reference a SNATPOOL from /Common. This is a better approach than using "--vs-snat-pool-name=SNAT_Pool_MP",

[2020-07-01 01:14] mdditt2000 commented on #1343
@strantalis discuss with the CIS team

[2020-07-01 06:10] AMoghrabi commented on #1354
Hi Mark. I actually have commented on that page to receive help, thank you.

Yep issue may be closed.

[2020-07-01 06:10] #1354 closed

[2020-07-01 06:23] vklohiya commented on #1358
@mdditt2000 , We are supporting multiple Clientssl and servers with Ingress Resources not with the Routes. We still need to address this in routes.

[2020-07-01 15:34] rlombardi12 commented on #1358
@vklohiya , actually its working with routes. But we should not declare the default SNI profile in CIS deployment file.  So not declaring this "--default-client-ssl=/Common/clientssl-sni".
Also in each route just specify the profile. One of the profiles is specified as default for SNI. But when we try to use this declaration "--default-client-ssl=/Common/clientssl-sni" in CIS deployment yaml file

[2020-07-03 11:43] tomaszmzyk opened #1383 "TLS_Server class - unable to add parameters"
#### Setup Details
 CIS Version : 1.14
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP 15.1.0.2
 AS3 Version: 3.13
 Agent Mode: AS3/CCCL
 Orchestration: OSCP
 Orchestration Version: 3.11
 Pool Mode: Cluster

#### Description
Hi
I try add some parametres to TLS_Server class.
My configuration looks like below:

                 "TLS_CERT_VS": {
                        "class": "Certi

[2020-07-03 11:43] cisbotctlr commented on #1383
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-07-04 07:31] mozhuli opened #1385 "BIG-IP lost all resources configed by k8s-bigip-ctlr every 15 seconds periodicity"
#### Setup Details
 CIS Version : 2.X
 Build: f5networks/k8s-bigip-ctlr:1.11.0
 BIGIP Version: Big IP 13.1.1 Build 0.0.4
 AS3 Version: 3.x
 Agent Mode: CCCL
 Orchestration: K8S
 Orchestration Version:  1.17.5
 Pool Mode: Nodeport
 Additional Setup details: <Platform/CNI Plugins/ cluster nodes/ etc>

#### Description
BIG-IP lost all resources configed by k8s-bigip-ctlr up to 15 seconds, and 15 seco

[2020-07-04 07:31] cisbotctlr commented on #1385
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-07-06 01:45] mozhuli commented on #1385
The log of `k8s-bigip-ctlr` has not showed the delete action, and we can see `k8s-bigip-ctlr`  will update every 30 seconds, is there some wrong configuration of BIG-IP to delete the resource create by `k8s-bigip-ctlr`?

[code]

[2020-07-06 02:25] mozhuli commented on #1385
I create a new partition, and it work well. maybe it some wrong with the old partition.

[2020-07-06 02:25] #1385 closed

[2020-07-06 02:33] mdditt2000 commented on #1385
@mozhuli hi wade, looks like you still using a iApp with the legacy API. Have you looked at switching to AS3? I can connect you with you F5 team to provide more details. Please can you DM me. Thanks.

[2020-07-06 13:01] itsmichaeldayton commented on #1009
I am new to CIS.  This issue has been open since Aug 26, 2019?

[2020-07-06 15:30] kylinsoong opened #1387 "Empty service with same label as production service can cause production offline"
#### Setup Details
 CIS Version : 2.X
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP 14.1.2
 AS3 Version: 3.19.1
 Agent Mode: AS3/CCCL
 Orchestration: K8S/OSCP
 Orchestration Version:
 Pool Mode: Cluster
 Additional Setup details: <Platform/CNI Plugins/ cluster nodes/ etc>

#### Description

CIS 2.0 with AS3 configmap on Kubernets cluster, use the --namespace to point a namespace

[2020-07-06 15:30] cisbotctlr commented on #1387
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-07-06 16:10] kylinsoong opened #1388 "namespace-label not work as expect while using CIS 2.0 + AS3"
#### Setup Details
 CIS Version : 2.X
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP 14.1.2
 AS3 Version: 3.19
 Agent Mode: AS3/CCCL
 Orchestration: K8S/OSCP
 Orchestration Version:
 Pool Mode: Cluster
 Additional Setup details: <Platform/CNI Plugins/ cluster nodes/ etc>

#### Description

 CIS 2.0 with AS3 configmap on Kubernets cluster, use the --namespace-label to isolate the n

[2020-07-06 16:10] cisbotctlr commented on #1388
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-07-06 17:10] vklohiya commented on #1358
@rlombardi12  Yes --default-clientssl option is broken in AS3 mode.

[2020-07-07 14:53] f5minions opened #1391 "Expose Kubernetes api services via F5 ingress crashes CIS"
#### Setup Details
 CIS Version : 2.0
 Build: f5networks/k8s-bigip-ctlr
 BIGIP Version: Big IP 14.1.2
 AS3 Version: 3.20
 Agent Mode: AS3
 Orchestration: K8S
 Orchestration Version: 1.17 and 1.18
 Pool Mode: Cluster
 Additional Setup details: <Platform/CNI Plugins/ cluster nodes/ etc>

#### Description
when i configured ingress for kubernetes API server than CIS controller was stop working and bec

[2020-07-07 14:53] cisbotctlr commented on #1391
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-07-07 16:22] f5minions opened #1392 "[CIS2.0+AS3] No more CRUD available when one AS3 validation issue happen"
#### Setup Details
 CIS Version : 2.0
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP 15.1.0
 AS3 Version: 3.20
 Agent Mode: AS3
 Orchestration: K8S
 Orchestration Version: 1.18
 Pool Mode: Cluster
 Additional Setup details: CALICO

#### Description
There is no more CRUD available when one AS3 validation was failed with below messages,

2020/07/07 16:11:36 [ERROR] [AS3] Template is

[2020-07-07 16:22] cisbotctlr commented on #1392
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-07-07 18:12] mdditt2000 commented on #1388
SR opened is C3318587

CIS is trying to extract endpoints from service that are outside the scope of CIS interns of namespace, when processing AS3 ConfigMaps. Will be addressed. @subbuv26 was this a 2.1 or 2.1.1 fix?

[2020-07-07 18:17] mdditt2000 commented on #1388
awaiting milestone

[2020-07-07 18:25] mdditt2000 commented on #1387
Action: Conflict of picking up the service, pickup the oldest one first

Create service 1 first
Duplicate gets created
CIS uses oldest service..

CIS today cannot decided which service to pick if duplicate. Add code so if duplicate we ignore and pick older service.

----
SR - C3318620
Resolution in 2.1.1

[2020-07-07 18:26] mdditt2000 commented on #1387
/jira

[2020-07-07 18:27] mdditt2000 commented on #1388
/jira

[2020-07-07 19:45] mdditt2000 commented on #1388
Jira filed for PM tracking

[2020-07-07 22:11] mdditt2000 commented on #1391
afternoon @f5minions please can you modify your Ingress API to the new ingress API

apiVersion: networking.k8s.io/v1beta1
kind: Ingress

Here is a working example

https://github.com/mdditt2000/kubernetes-1-18/blob/master/cis%202.0/ingress/big-ip-92-cluster/ingress-examples/f5-k8s-ingress-http.yaml

Let me know if that resolves the problem. Thanks Mark

[2020-07-07 22:18] mdditt2000 commented on #1383
@tomaszmzyk most likely your CIS doesn't have the updated AS3 schema to support the configuration. Cipher groups and TLS shipped between AS3-18 and AS3-20. Please can you update the AS3 rpm on your BIG-IP and try again.

If still fails please can you send me your resource defintion. I believe you are using a AS3 configmap. If you cannot paste your AS3 configmap on GIT please open a support ticket.

[2020-07-07 22:20] mdditt2000 commented on #1383
TLS options added to AS3 in CIS 3-19
https://github.com/F5Networks/f5-appsvcs-extension/releases/tag/v3.19.0
Added support for additional TLS options, GitHub Issue 233

[2020-07-08 00:32] mdditt2000 commented on #1392
Good afternoon @f5minions I see a few issues.

1. Please use the correct Ingress Api. Api changed after K8S 1.16. Correct Api is

[code]
Example - https://github.com/mdditt2000/kubernetes-1-18/blob/master/cis%202.0/ingress/big-ip-92-cluster/ingress-examples/f5-k8s-ingress-https.yaml

2. Remove unsupported annotation

[code]

Are you trying todo Edge TLS or re-encrypt?

Here is a example of Edge TL

[2020-07-08 08:59] tomaszmzyk commented on #1383
Hi
This is my config:
apiVersion: v1
data:
  template: |
    {
        "class": "AS3",
        "declaration": {
            "class": "ADC",
            "schemaVersion": "3.13.0",
            "id": "ocp-f5-app",
            "X_OCP_APP": {
                "class": "Tenant",
                "APP_APP": {
                    "class": "Application",
                    "template": "generic",

[2020-07-08 14:25] f5minions commented on #1391
Hi mdditt,
i tried to new ingress api but result is same like below,

E0708 14:22:48.755966       1 runtime.go:78] Observed a panic: "invalid memory address or nil pointer dereference" (runtime error: invalid memory address or nil pointer dereference)
goroutine 104 [running]:
github.com/F5Networks/k8s-bigip-ctlr/vendor/k8s.io/apimachinery/pkg/util/runtime.logPanic(0x143a760, 0x25b7e30)
	/build/src

[2020-07-08 14:34] f5minions commented on #1392
Hi mdditt,
I want to use end to end tls encryption, means that below
client>>>> TLS >>>>F5 >>>> TLS >>>> backend server. In this case, how we can support it without "virtual-server.f5.com/serverssl: /Common/serverssl "? and that also works well on my k8s environmemt...

let me know how to use re-encrypt on k8s ingress? In your f5-k8s-ingress-https.yaml is for EDGE tls use case.

Thanks.

[2020-07-08 18:36] mdditt2000 commented on #1392
@f5minions thank you for providing clarity. @vklohiya provide the following example. Please follow these examples todo what you need

**Example 1**

[code]
**Example 2**

[code]

This should resolve your issue. Please keep in mind that these TLS profiles have to be created. CIS using AS3 doesn't created the profiles. AS3 is used under CIS and references these profiles.

[2020-07-08 18:39] mdditt2000 commented on #1391
@veeramalla-f5 any idea why we are seeing CIS CrashLoopBack?

[2020-07-08 19:43] rlombardi12 commented on #1358
@vklohiya , any expected date or version for a fix? Tks

[2020-07-08 22:37] f5minions commented on #1392
Thanks for your update so you mean that we can use below on k8s environment also,
virtual-server.f5.com/serverssl: /Common/serverssl

Is it correct?

And if CIS controller met some of the invalid ingress, the controller may not work any other creation or deletion and update until that invalid ingress was resolved. --> actually i want to know this. is it by design?

please check this once again.

[2020-07-08 22:48] mdditt2000 commented on #1383
@tomaszmzyk please change the schema version in the declaration to "**schemaVersion": "3.19.0".**

[2020-07-08 22:51] mdditt2000 commented on #1392
@f5minions yes this is used in nightly regression. /Common/serverssl is used for re-encrypt.

[2020-07-09 04:57] tomaszmzyk commented on #1383
Hi
I wrote  in my previous comment.
When I change schema to version higher than 3.13.0 I have error:
2020/07/09 04:53:24 [ERROR] AS3 Template is not valid. see errors :

2020/07/09 04:53:24 [ERROR] - declaration.schemaVersion: declaration.schemaVersion must be one of the following: "3.13.0", "3.12.0", "3.11.0", "3.10.0", "3.9.0", "3.8.0", "3.7.0", "3.6.0", "3.5.0", "3.4.0", "3.3.0", "3.2.0", "3.1.

[2020-07-09 06:13] mdditt2000 commented on #1392
@f5minions please change your path to "path": "keycloak.skb-doj-dev01.btvpaas.com",

Remove the /. This character is invalid.

[2020-07-09 06:15] mdditt2000 commented on #1391
Please correct the path "kube-apiserver.skb-doj-dev01.btvpaas.com/",

Again remove the / from the path.

[2020-07-09 06:19] mdditt2000 commented on #1378
Discussed with team to add a Label to the Ingress for allowing a custom name on the ingress. CIS 2.2 is target

PM to create to for CIS 2.2 planning

[2020-07-09 06:26] mdditt2000 commented on #1359
Team needs to explore Github #1009 issue as CIS shouldn't affect or cause any application downtime as CIS is only automation. More investigation is needed

[2020-07-09 06:28] mdditt2000 commented on #1358
/jira

[2020-07-09 06:29] mdditt2000 commented on #1358
Jira for PM tracking CONTCNTR-1983

Possible 2.2 fix required

[2020-07-09 19:54] mdditt2000 commented on #1392
@f5minions have we resolved your issue? There are multiple in the github.

[2020-07-09 21:04] mdditt2000 commented on #1391
@f5minions I did some more testing and fixed the ingress to work with CIS. Please clone the repo to use a template

https://github.com/mdditt2000/kubernetes-1-18/blob/master/cis%202.1/github/1391/ingress.yaml

Ok with that said their is going to be issues with your path. You will need to shorten the path/hostname. The path kube-apiserver.skb-doj-dev01.btvpaas.com is to long to specify in the monit

[2020-07-09 23:32] mdditt2000 commented on #1391
Here is the example using secret for edge and serverssl profile for re-encrypt for https://github.com/mdditt2000/kubernetes-1-18/blob/master/cis%202.1/slack/ingress/re-encrypt-tls.yaml AS3 is also their

[2020-07-10 17:34] rlombardi12 opened #1396 "Removing and/or renaming a k8s service break CIS"
Title
Removing and/or renaming a k8s service exposed by CIS without prior removing the ingress break CIS

Description
If we remove a service exposed by CIS 2.0 without removing first the ingress, the CIS break and stops updating configuration in BigIP. We need to delete and re-deploy the Controller to start working again.

Actual Problem
Today if we remove a service that is being referenced by an

[2020-07-10 17:34] cisbotctlr commented on #1396
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-07-11 07:04] f5minions commented on #1391
Hi mdditt,
Please check this issue using below kubernetes internal service, named "kubenetes". If we using the other services such as f5-hello-world, there are no issue with F5 CIS.

f5demo@k8s-node1:~/skt$ kubectl get svc
NAME             TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)          AGE
f5-hello-world   NodePort    10.110.3.36     <none>        8080:32707/TCP   19d
httpbin1

[2020-07-11 07:44] f5minions commented on #1392
Hi mddit,
Is below link works well?
https://github.com/mdditt2000/kubernetes-1-18/blob/master/cis%202.1/slack/ingress/re-encrypt-tls.yaml

I tried to apply it on my lab environment but that looks didn't working with below error messages,

2020/07/11 07:41:37 [WARNING] [CORE] Overwriting existing entry for backend {ServiceName:f5-hello-world ServicePort:8080 Namespace:default} and resource ingress_

[2020-07-12 07:09] liorfranko opened #1397 "Control the SNAT using CRD"
#### Title
We would like to be able to disable the SNAT using the configmap

#### Description
We're using the bigip-ctlr to manage K8S SVC objects using configmaps.
All the VIPs on the F5 are created with "Source Address Translation - Automap" without the ability to change it.
We need to control it, on some VIPs we need to change it to None.
The new way of deployment using CRD doesn't provide all

[2020-07-12 07:09] cisbotctlr commented on #1397
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-07-12 21:31] mdditt2000 commented on #1397
/jira

[2020-07-12 21:35] mdditt2000 commented on #1397
@liorfranko thank you opening this. Will discuss with CIS team at next week. The ask is very clear.

[2020-07-15 18:50] mdditt2000 commented on #1392
@f5minions glad it works well!

[code]

I will close this issue as done.

[2020-07-15 18:50] #1392 closed

[2020-07-15 19:00] mdditt2000 commented on #1391
user want to create a ingress for the **service kubernetes**

[code]

[2020-07-19 13:38] f5minions commented on #1342
One of my customers also wants to use "traffic logging" with cis ingress virtual server. I found the below link and we can support traffic policy using AS3 but there are no ingress annotations yet.

Do you have any recommend a way to support these customer's requirements without AS3?

[2020-07-22 15:59] tkam8 opened #1415 "AS3 configmap and blank declaration safeguards"
#### Setup Details
 CIS Version : 1.14
 Build: f5networks/k8s-bigip-ctlr:1.14
 BIGIP Version: Big IP 14.1.2
 AS3 Version: 3.13
 Agent Mode: AS3
 Orchestration: K8S
 Orchestration Version: 1.16
 Pool Mode: Nodeport
 Additional Setup details: <Platform/CNI Plugins/ cluster nodes/ etc>

#### Description
We should provide some safeguard when k8s user mistakenly deploys both a blank configmap and a nor

[2020-07-22 15:59] cisbotctlr commented on #1415
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-07-23 11:33] kylinsoong opened #1417 "Can not delete one ingress pool"
#### Setup Details
 CIS Version : 2.0
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP 14.0.1
 AS3 Version: 3.x
 Agent Mode: AS3/
 Orchestration: K8S
 Orchestration Version:
 Pool Mode: Cluster/Nodeport
 Additional Setup details: <Platform/CNI Plugins/ cluster nodes/ etc>

#### Description

Batch delete ingress object failed, the Ingress object be deleted from K8S, but the reference

[2020-07-23 11:33] cisbotctlr commented on #1417
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-07-24 12:10] myf5 commented on #1417
Seem like the CIS read wrong rule number, the rule does not point to the pool name.

[2020-07-24 16:56] thomsonjames opened #1420 "CIS 2.0 using default as3 agent, CCCL still running processes"
#### Setup Details
 CIS Version : 2.0
2020/07/24 16:30:42 [INFO] [INIT] Starting: Container Ingress Services - Version: 2.0.0, BuildInfo: cloud-user-efcab9e-20200522033624
 Build: f5networks/k8s-bigip-ctlr:2.0.0
 BIGIP Version: BIG-IP 15.0.1 Build 0.0.11 Final
 AS3 Version: 3.21.0-4
 Agent Mode: AS3
 Orchestration: OKD
 Orchestration Version:
 Pool Mode: Cluster
 Additional Setup details: <Platfor

[2020-07-24 16:56] cisbotctlr commented on #1420
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-07-27 21:36] mdditt2000 commented on #1420
Internal PM Jira created for tracking CONTCNTR-2035

[2020-07-27 21:40] mdditt2000 commented on #1417
@nandakishorepeddi @vklohiya can you try reproduce this with CIS 2.1

[2020-07-28 16:03] mdditt2000 commented on #1420
This issue is resolved in CIS 2.1

Validated - No more CCCL LTM logs. Only Network.

Create two VZN configmaps and seeing the following logs

https://github.com/mdditt2000/kubernetes-1-18/tree/master/cis%202.1/as3-configmap/vzn

2020/07/28 15:57:41 [DEBUG] [CORE] Updated 0 of 0 virtual server configs, deleted 0
2020/07/28 15:57:41 [DEBUG] [CORE] Finished syncing virtual servers f5-as3-nat46-declar

[2020-07-28 16:03] #1420 closed

[2020-07-28 16:06] mdditt2000 commented on #1171
Resolved in CIS 2.1. Please test the latest version https://github.com/F5Networks/k8s-bigip-ctlr/releases/tag/v2.1.0

Closing issue

[2020-07-28 16:06] #1171 closed

[2020-07-29 10:56] chen23 opened #1430 "change in behavior on namespace visibility between 2.0.0 and 2.1.0"
#### Setup Details
 CIS Version : 2.1.0
 Build: f5networks/k8s-bigip-ctlr:2.1.0
 BIGIP Version: Big IP 15.1.0.2
 AS3 Version: 3.20
 Agent Mode: AS3
 Orchestration: OSCP
 Orchestration Version:  4.3
 Pool Mode: Cluster
 Additional Setup details: default CNI (vxlan)
#### Description

Previously in 2.0.0 you could set the controller namespace to "default", but it would still grab services from other

[2020-07-29 10:56] cisbotctlr commented on #1430
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-07-29 11:13] veeramalla-f5 commented on #1430
Hi @chen23 ,

 This is done on a purpose. This is a request from customer to restrict Configmap to use a service only with in the namespace.

 We have seen customers using services with same annotated tags (may be as a backup service or forgot to delete the old ones in different namespaces). CIS(2.0) used to ignore the specific pool and log an error(multiple services with same tags).

 In order to

[2020-07-29 11:23] veeramalla-f5 commented on #1415
@tkam8 You cannot use two different AS3 Configmaps with same tenants. You could rather combine the declarations or use "kubectl delete cm <>" to incase u want to delete a specific configmap.

If you have a list of tenants in a configmap and want to delete a specific tenant, Please use kubectl edit option to remove the tenant configuration.

Note: from CIS 2.1(available) we also support deletion of

[2020-07-29 11:25] chen23 commented on #1430
that makes sense.  I'm not sure whether other folks will hit the same issue.  I did not see this change called out in the release notes. https://clouddocs.f5.com/containers/latest/reference/release-notes.html

[2020-07-29 11:29] veeramalla-f5 commented on #1396
@rlombardi12 CIS has service informers which does exactly what you have asked for. I am surprised it is not doing the same. Do you have both service and ingress in the same namespace or different.

I will try to reproduce the issue and get back to you.

[2020-07-29 11:32] veeramalla-f5 commented on #1430
@chen23  It is part of the Multiple AS3 ConfigMap support, We are working on the User Documentation in Clouddocs and we will work more vividly on this.

[2020-07-29 12:00] rlombardi12 commented on #1396
@veeramalla-f5 the test was done in the same namespace. You can easily reproduce it. Just remove the service prior the ingress and things start getting strange. Customer is complaining that this is impacting their operations.

[2020-07-29 19:35] mdditt2000 commented on #1430
Jira filed form PM/tech writer CONTCNTR-2033

[2020-07-29 22:37] AMoghrabi commented on #588
Hey @mdditt2000 , do you know if its possible to specify more than one label?

[2020-07-30 06:13] mdditt2000 commented on #1415
AS3 expected behavior. @tkam8 please reach out to me

[2020-07-30 06:16] mdditt2000 commented on #1396
duplicate of https://github.com/F5Networks/k8s-bigip-ctlr/issues/1417

[2020-07-30 06:17] mdditt2000 commented on #1417
duplicate of https://github.com/F5Networks/k8s-bigip-ctlr/issues/1396

[2020-07-30 06:19] mdditt2000 commented on #1387
@vklohiya please can you verify if this is resolved in CIS 2.1

[2020-07-30 06:21] mdditt2000 commented on #1388
Resolved in CIS 2.1

[2020-07-30 06:21] #1388 closed

[2020-07-30 06:26] mdditt2000 commented on #1311
CIS can monitor the services only for the namespace of configmap or namespace isolation.

[2020-07-30 06:26] #1311 closed

[2020-07-30 06:28] mdditt2000 commented on #1337
Resolved in CIS 2.1

[2020-07-30 06:28] #1337 closed

[2020-07-30 07:11] veeramalla-f5 commented on #1196
@velascoblasco It is an expected behaviour.  When a service is created in NodePort Mode, it will be allocated with clusterIP.

Since u have deployed CIS to monitor the services which have clusterIP, CIS honors that service and deploys relevant configuration.

[2020-07-30 07:13] veeramalla-f5 commented on #1192
@velascoblasco  we do not support for pool-only-mode in AS3. This is an enhancement request which we will look into.

[2020-07-30 07:17] veeramalla-f5 commented on #1058
Hi @thiagoliri ,

 We have stabilized CIS with respect to crashes and CPU load on BIG-IP. Please try our latest release 2.1 and let us know if u still see the issue.

[2020-07-30 07:18] #1056 closed

[2020-07-30 07:19] veeramalla-f5 commented on #1046
@cjunwchen  we would be more than happy to understand what is the enhancement you are looking for in our current IRule. We will be happy to support any valid changes or enhancements.

[2020-07-30 07:35] veeramalla-f5 commented on #1045
@cjunwchen if you want to setup both clientssl and serverssl for Ur ingress resource. You need to create a TLS secret with certificate and key(CIS will create a clientssl profile) and use our serverssl annotation to reference an existing bigip serverssl profile.

This will function similar to Openshift re-encrypt route.

Please use the below example

apiVersion: extensions/v1beta1
kind: Ingress
me

[2020-07-30 07:38] #1043 closed

[2020-07-30 07:44] veeramalla-f5 commented on #1035
@tkam8 please try out our CRDs in release 2.1

Documentation Reference:

https://github.com/F5Networks/k8s-bigip-ctlr/blob/master/docs/_static/config_examples/crd/CustomResource.md

[2020-07-30 08:50] vklohiya commented on #1387
@mdditt2000 ,  this is observed in CIS 2.1 as well.

[2020-07-30 17:53] mdditt2000 commented on #1387
@vklohiya thank you for recreating this. Creating internal Jira for PM tracking

[2020-07-30 17:53] mdditt2000 commented on #1387
/jira

[2020-07-30 20:29] mdditt2000 opened #1433 "[Note] Template is not valid. When using CIS 2.1 with AS3 version: 3.21.0"
#### Setup Details
 CIS Version : 2.1
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP x.x.x
 AS3 Version: 3.21
 Agent Mode: AS3
 Orchestration: K8S/OSCP
 Orchestration Version:
 Pool Mode: Cluster/Nodeport

#### Description

CIS 2.1 doesn’t have the AS3-21 schema and therefore cannot validate the JSON

**[AS3] Validating AS3 schema with  as3-schema-3.20.0-3-cis.json**
[AS3] posting

[2020-07-30 20:29] cisbotctlr commented on #1433
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-07-30 20:29] mdditt2000 commented on #1433
/jira

[2020-07-30 20:41] mdditt2000 commented on #1433
Internal PM Jira file CONTCNTR-2049

[2020-07-30 20:44] mdditt2000 commented on #1353
Filed AS3 enhancement for Lets Encrypt https://github.com/F5Networks/f5-appsvcs-extension/issues/316

[2020-07-31 04:40] veeramalla-f5 commented on #793
This is fixed in 1.14. please migrate to the latest version.

[2020-07-31 04:40] #793 closed

[2020-07-31 04:42] #914 closed

[2020-07-31 04:47] veeramalla-f5 commented on #933
Available in CIS 2.1 .. CRD will be GA in 2.2.

You can refer to our CRD documentation.

https://github.com/F5Networks/k8s-bigip-ctlr/blob/master/docs/_static/config_examples/crd/CustomResource.md

However, we named it as node-member-label as it sounds more appropriate.

[2020-07-31 04:47] #933 closed

[2020-07-31 04:50] veeramalla-f5 commented on #998
@luruiqiang CIS supports this feature as part of 2.1 release. Please switch to the latest version(2.1)

Must:
Every ConfigMap should have unique tenants, else CIS will override the tenant configuration from one configmap with another.

[2020-07-31 04:50] #998 closed

[2020-08-02 14:29] kylinsoong opened #1434 "multiple configmap in single namespaces will cause online VS in F5 offline"
#### Setup Details
 CIS Version : 2.1
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP 14.1
 AS3 Version: 3.x
 Agent Mode: AS3
 Orchestration: K8S/OSCP
 Orchestration Version:
 Pool Mode: Cluster/Nodeport
 Additional Setup details: <Platform/CNI Plugins/ cluster nodes/ etc>

#### Description

multiple configmap in single namespaces will cause online virtual server in F5 offline, eve

[2020-08-02 14:29] cisbotctlr commented on #1434
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-08-03 18:13] mdditt2000 commented on #1434
@kylinsoong testing this afternoon. Will update later today.

[2020-08-04 18:13] sbarre-esit opened #1440 "Optional health check paramaters don't appear to be optional"
#### Setup Details
 CIS Version : 2.1.0
 Build: f5networks/k8s-bigip-ctlr:2.1.0
 BIGIP Version: BIG-IP 14.1.2.6 Build 0.0.2 Point Release 6
 AS3 Version: f5-appsvcs-3.20.0-3.noarch
 Agent Mode: AS3
 Orchestration: OSCP
 Orchestration Version: v4.4
 Pool Mode: Cluster

#### Description
  https://github.com/F5Networks/k8s-bigip-ctlr/blob/master/docs/_static/config_examples/crd/CustomResource.md#virt

[2020-08-04 18:13] cisbotctlr commented on #1440
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-08-04 19:24] zhu20200720 opened #1441 "Nodeport pool member type exposes both master and worker nodes in Node List from F5 UI"
#### Setup Details
 CIS Version : 2.1.0
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP 2.1.0
 AS3 Version: 3.x
 Agent Mode: AS3 or CCCL
 Orchestration: K8S
 Orchestration Version: 1.16.0
 Pool Mode: Nodeport
 Additional Setup details: <Platform/CNI Plugins/ cluster nodes/ etc>

K8s cluster has 3 master and 3 worker nodes. It was set up by kubespray with Calico & IPVS as initial co

[2020-08-04 19:24] cisbotctlr commented on #1441
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-08-04 19:36] sbarre-esit opened #1442 "_AS3 partition not removed when using custom-resource-mode=true"
#### Setup Details
 CIS Version : 2.1.0
 Build: f5networks/k8s-bigip-ctlr:2.1.0
 BIGIP Version: BIG-IP 14.1.2.6 Build 0.0.2 Point Release 6
 AS3 Version: f5-appsvcs-3.20.0-3.noarch
 Agent Mode: AS3
 Orchestration: OSCP
 Orchestration Version: v4.4
 Pool Mode: Cluster

#### Description
The 2.1 release notes https://clouddocs.f5.com/containers/latest/reference/release-notes.html say that the _AS3 pa

[2020-08-04 19:36] cisbotctlr commented on #1442
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-08-04 19:49] mdditt2000 commented on #1440
@sbarre-esit thank **Steven for your feedback**. You are correct we should set some defaults. Filing a backlog request request to get this added to the queue. Please dont hesitate to open many more as 2.1.1 and 2.1.2 are focused on getting CRDs ready for GA.

[2020-08-04 19:49] mdditt2000 commented on #1440
/Jira

[2020-08-04 19:51] mdditt2000 commented on #1440
/jira

[2020-08-04 20:01] mdditt2000 commented on #1442
Recreating in my environment using CRDs.

[2020-08-04 20:34] mdditt2000 commented on #1415
@tkam8 please dont deploy a blank configmap. Please use the new feature in CIS 2.1 where you change the f5 label from true to false.

Example below.

**Add configmap**
[code]
[AS3] Response from BIG-IP: code: 200 --- tenant:TCP --- message: success

![image](https://user-images.githubusercontent.com/12733938/89341586-60ee8f80-d656-11ea-8085-6ae896873641.png)

**Remove configmap**
[code]

[root@k8s

[2020-08-04 20:56] sbarre-esit opened #1443 "Support non-HTTP Virtual Servers with CRD"
#### Title
Support non-HTTP Virtual Servers with CRD

#### Description
CIS automation powered by CRDs should support non-http traffic such as a more simple TCP forwarding.

#### Actual Problem
Currently CRD definitions only support HTTP traffic as the BIG-IP is configured to check the `Host` header and redirect based on that. We would like to be able to expose non-http traffic such as databases vi

[2020-08-04 20:56] cisbotctlr commented on #1443
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-08-04 21:49] mdditt2000 commented on #1442
@sbarre-esit i cannot reproduce this.

Tried using CIS 2.0 where i can see _AS3 getting created only for TEEMS data "phone phone"

Upgraded to CIS 2.1 and _AS3 is removed correctly

2020/08/04 21:26:01 [INFO] [AS3] Initializing AS3 Agent
2020/08/04 21:26:01 [DEBUG] [AS3] No certs appended, using only system certs
2020/08/04 21:26:01 [DEBUG] [AS3] Validating AS3 schema with  as3-schema-3.20.0-3-cis

[2020-08-05 03:55] veeramalla-f5 commented on #1441
Yes, This is an expected behaviour. Master Node is added as pool for users who try out their POC with minikube or minishift or anyother single-node-clusters.

The solution for your problem is to use node-lable-selector deployment parameter.

[code]

[2020-08-05 13:53] zhu20200720 commented on #1441
thanks @veeramalla-f5 , it works, thank you!

[2020-08-05 14:56] #1441 closed

[2020-08-05 15:13] agupta49 commented on #1442
@sbarre-esit For custom-resource-mode=true CIS will not delete _AS3 partition. We need to clean/remove the _AS3 partition manually. CIS removes _AS3 partition with agent as3 or cccl.

[2020-08-05 16:10] mdditt2000 commented on #1442
@agupta49 that does make sense and i am seeing the same thing.

@sbarre-esit to resolve this issue please try the following:

**Step 1:** Remove the following from your CIS arguments
[code]
**Step 2:** Delete/Create the CIS deployment. You will see the following

2020/08/05 16:02:35 [INFO] [AS3] Initializing AS3 Agent
2020/08/05 16:02:35 [DEBUG] [AS3] No certs appended, using only system certs
202

[2020-08-05 16:16] mdditt2000 commented on #1443
/jira

[2020-08-05 16:20] mdditt2000 commented on #1443
Created Jira CONTCNTR-2056 for PM tracking and planning. Need to support LTMprofile:

This will allow for support of TCP profile and allow none-http CRD support.

[2020-08-05 23:37] mdditt2000 commented on #1434
Since your second and third configmap are not incremental you override the declaration. This is how AS3 works. You need to increment cm1 + cm2 + cm3 in one AS3 declaration. Look at the recreate.

![image](https://user-images.githubusercontent.com/12733938/89474186-bb145100-d739-11ea-882a-c674fb923139.png)

https://github.com/mdditt2000/kubernetes-1-18/blob/master/cis%202.1/github/1434/cm-all.yaml

[2020-08-05 23:39] mdditt2000 commented on #1434
Only one configmap
[code]

[2020-08-05 23:40] mdditt2000 commented on #1434
Please review the label as3 = false to remove the configmap. No more blank

labels:
    f5type: virtual-server
    as3: "false"

[2020-08-05 23:52] sbarre-esit commented on #1442
@mdditt2000 thanks, the steps worked and removed the partition.

[2020-08-06 06:15] mdditt2000 commented on #1442
Closing issue - Resolved.

[2020-08-06 06:15] #1442 closed

[2020-08-06 15:53] zhu20200720 opened #1451 "Management ip or float ip to be used in F5 Ingress controller"
#### Setup Details
CIS Version : 2.1.0
Build: f5networks/k8s-bigip-ctlr:latest
BIGIP Version: Big IP 2.1.0
AS3 Version: 3.x
Agent Mode: AS3 or CCCL
Orchestration: K8S
Orchestration Version: 1.16.0
Pool Mode: Nodeport
Additional Setup details: <Platform/CNI Plugins/ cluster nodes/ etc>

#### Description

We have two data centers, each data center have two F5 appliances which uses the HA active-stan

[2020-08-06 15:53] cisbotctlr commented on #1451
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-08-06 16:30] mdditt2000 commented on #1433
**Hotfix**Please note this will resolved in CIS 2.1 but here is Hotfix for now.

Please use below image to support AS3 v3.21.
docker pull f5networksdevel/k8s-bigip-ctlr:as3_21Support

**Updated CIS with latest AS3 v3.21.0-4 schema validation**.
Fix included for “[ERROR] [AS3] Template is not valid” if using higher AS3 version installed on BIG-IP.

[2020-08-06 16:42] veeramalla-f5 commented on #1451
If I understand your question correct, You are asking us, whether to use Management IP or Floating IP to establish a VXLAN tunnel between F5 and k8s/openshift cluster? Am I correct?

If YES....
I don't think using management is a better option for data plane. However I would request @mdditt2000 to comment on this.

[2020-08-06 17:41] zhu20200720 commented on #1451
@veeramalla-f5 , yes, that was my question. Also we are using AS3 agent but insecure right now.    i.e.   “--insecure=true”, “--agent=as3”. To add a certificate to the CIS trusted SSL certificate store, is it a must to use management ip? Thanks

[2020-08-06 17:58] mdditt2000 commented on #1451
Good morning @zhu20200720 Its not uncommon to to use the self-ip or floating-ip for CIS. If you were going to deploy a dedicated CIS controller per BIG-IP i would use the self-ip of BIG-IP. If you only using a single CIS instance then use the floating-ip. Also note the floating-ip will be used for snat on all Ingress traffic to the Pods.

Since you are using CIS 2.1 you no longer need agent=as3 in

[2020-08-06 18:10] mdditt2000 commented on #1045
Closing this out. Validated and documented.

https://github.com/mdditt2000/kubernetes-1-18/blob/master/cis%202.1/slack/ingress/re-encrypt-tls.yaml

[2020-08-06 18:10] #1045 closed

[2020-08-06 18:13] mdditt2000 commented on #1046
Please use AS3 override to reference iRule with Ingress

https://clouddocs.f5.com/containers/latest/userguide/config-map.html#override-as3-configmap

[2020-08-06 18:13] #1046 closed

[2020-08-06 19:44] zhu20200720 commented on #1451
Thank you @mdditt2000.  We used **NodePort** type in Ingress Controller, and we also plan to deploy two dedicated Ingress Controller instances for both Active and Standby F5 appliances. For ingress controller configuration
 option, we plan to use F5 management IP, i.e.  “--bigip-url=**management ip**”. I will report the output here in next few days on our testing.
![bigip-ha](https://user-images.g

[2020-08-06 20:22] mdditt2000 commented on #1058
Closing this issue.

[2020-08-06 20:22] #1058 closed

[2020-08-06 20:23] mdditt2000 commented on #1155
Today you need to create dedicated services per port. Closing this issue out

[2020-08-06 20:23] #1155 closed

[2020-08-06 20:24] mdditt2000 commented on #1196
Closing this issue out. Expected behavior

[2020-08-06 20:24] #1196 closed

[2020-08-06 20:25] mdditt2000 commented on #1304
Closing this issue out

[2020-08-06 20:25] #1304 closed

[2020-08-06 20:27] mdditt2000 commented on #1344
Please look at https://github.com/F5Networks/k8s-bigip-ctlr/issues/1433 You can use CIS 2.1 with either AS3-20 or install the hotfix for AS3-21

[2020-08-06 20:27] #1344 closed

[2020-08-06 20:33] mdditt2000 commented on #1347
Closing this issue out

[2020-08-06 20:33] #1347 closed

[2020-08-06 20:50] mdditt2000 commented on #1342
PleaseF5 telemetry streaming to enable traffic logging. profileTrafficLog can be enabled via AS3 override configmap

[code]
Please see the following example https://github.com/mdditt2000/telemetry-streaming/blob/master/sumo-logic/sumo-logic-as3.json

You can also enable profileTrafficLog via TMSH

https://clouddocs.f5.com/products/extensions/f5-telemetry-streaming/latest/event-listener.html#config

[2020-08-06 20:51] mdditt2000 commented on #1342
This issue can be closed out.

[2020-08-06 20:51] #1342 closed

[2020-08-06 20:53] mdditt2000 commented on #1289
#1287 and #1288 are resolved in CIS 2.1 Closing this issue out.

[2020-08-06 20:53] #1289 closed

[2020-08-07 20:09] mdditt2000 commented on #1451
@zhu20200720 diagram looks good. Let me know how things go. You might also want to enable labels so the master nodes doent should up in the BIG-IP pools members

https://github.com/mdditt2000/kubernetes-1-18/blob/master/kubernetes-faq.md#manage-node-labels

[2020-08-07 20:11] mdditt2000 commented on #1038
@sfudeus please looks at CIS 2.1 and the deployment of CRDs. https://github.com/F5Networks/k8s-bigip-ctlr/blob/master/docs/_static/config_examples/crd/CustomResource.md

[2020-08-07 20:13] mdditt2000 commented on #1192
No plans to adopt pool-only-mode in AS3. This is out of the scope of AS3.

[2020-08-07 20:17] mdditt2000 commented on #930
Updated prometheus document https://github.com/mdditt2000/prometheus

Please look at configmap
[code]

[2020-08-10 15:07] mdditt2000 commented on #1443
https://github.com/F5Networks/k8s-bigip-ctlr/pull/1454

[2020-08-10 20:12] mdditt2000 commented on #1440
https://github.com/F5Networks/k8s-bigip-ctlr/pull/1454

[2020-08-10 20:13] mdditt2000 commented on #1434
This can be closed out.

[2020-08-10 20:13] #1434 closed

[2020-08-11 10:15] type954 opened #1456 "We have a ssl redirect issue when applying 2 ingresses."
#### Setup Details
 CIS Version : 2.0
 Build: f5networks/k8s-bigip-ctlr:2.0.0
 BIGIP Version: Big IP 15.1.0.4
 AS3 Version: -
 Agent Mode: CCCL
 Orchestration: K8S
 Orchestration Version: 1.17.6
 Pool Mode: Cluster
 Additional Setup details: -

#### Description
When ssl-redirect is set using the following ingress annotation, the second ssl-redirect ingress is not applied normally with an error mes

[2020-08-12 15:42] joebride opened #1457 "Each Client request will be logged on BIG-IP when http2-profile is associated to VS"
#### Setup Details
 CIS Version : 2.1.0
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP 15.1.0.3
 AS3 Version: 3.20.0-build3
 Agent Mode: AS3
 Orchestration: K8S/OSCP      v1.17.1, OS v4.2
 Orchestration Version:
 Pool Mode: Cluster
 Additional Setup details: VS using http/2-profile on client-side

#### Description
When I added a http/2-profile (clientside only) to my virtual-serve

[2020-08-12 15:42] cisbotctlr commented on #1457
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-08-12 16:00] joebride opened #1458 "CISv2.1.0 does not delete LTM-Policy reset-rule when OpenShift-annotation for whitelist-source-range will be removed"
#### Setup Details
 CIS Version : 2.1.0
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP 15.1.0.3
 AS3 Version: 3.20.0-build3
 Agent Mode: AS3
 Orchestration: K8S/OSCP      v1.17.1, OS v4.2
 Orchestration Version:
 Pool Mode: Cluster
 Additional Setup details: OpenShift-Routes using virtual-server.f5.com/whitelist-source-range:

#### Description
When I remove the annotation "virtual

[2020-08-12 16:00] cisbotctlr commented on #1458
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-08-12 17:53] mdditt2000 commented on #1458
/jira

[2020-08-12 17:55] mdditt2000 commented on #1458
/jira

[2020-08-12 17:57] mdditt2000 commented on #1457
/jira

[2020-08-13 04:44] veeramalla-f5 commented on #1457
/jira

[2020-08-13 04:48] veeramalla-f5 commented on #1458
/jira

[2020-08-13 16:19] eduardoriveror opened #1461 "Cannot create F5 resources using K8s Ingress Objects"
Using CIS 2.1 and AS3 3.20, with BIG IP System 12.1.4.1 I can create F5 objects using AS3 configmaps and services, but not when using Kubernetes ingress objects.

This is the configuration used so far:

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    ingress.kubernetes.io/allow-http: "true"
    ingress.kubernetes.io/ssl-redirect: "false"
    kubernetes.io/ingress-class: f

[2020-08-13 16:19] cisbotctlr commented on #1461
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-08-13 16:43] joebride commented on #1458
I did some more testing. Let me share my results:
1.
Once annotation for whitelist-source-range was in use one time only, the CIS always configure reset-rule.
So if you remove whitelisting the CIS still configure the reset-rule in LTM-Policy, although is is not required anymore!

2.
The specific reset-rule per host is not required at all, because per default the CIS configure the reset-all-rule "o

[2020-08-13 17:20] joebride commented on #1458
to 1.
To make it more clearer.
I manually removed the reset-rule in both LTM-policies via BIG-IP WebGUI. After some change in OpenShift the CIS added again the unnecessary reset-rule.

[2020-08-13 20:55] mdditt2000 commented on #1461
I believe this is the issue "virtual-server.f5.com/partition: PARTITION_DIFFERENT_THAN_CONTROLLER". - Checking if CIS will use PARTITION_DIFFERENT_THAN_CONTROLLER for Ingress. I do not believe so

[2020-08-14 02:13] vklohiya commented on #1458
@joebride , reset rule is required if WAF Policy is not attached. I think we need to conditionally attach this reset rule.

[2020-08-14 12:36] eduardoriveror commented on #1461
With config maps it is stated in the docs, so i tried like that with ingress. Even though I have updated the ingress and it shows the same behaviour.

[code]

[2020-08-14 12:38] veeramalla-f5 commented on #1461
@eduardoriveror trying this now, I will get back to you shortly.

[2020-08-14 13:41] veeramalla-f5 commented on #1461
@eduardoriveror I have tested the exact configuration in my cluster and it works well.

Note: I haven't tried in combination with AS3 configmap. I think Ingress alone(without AS3 configmap) is also not working at your end.

[2020-08-14 15:26] eduardoriveror commented on #1461
Yes, if we apply an AS3 configmap with a service it works. Even though with ingress the F5 resources are not being created, on purpose i pointed the ingress to the same service linked to the AS3 configmap and the controlller recognize it and throws an error stating that the ip of the node in the pool exist in another virtual server

[2020-08-14 16:16] veeramalla-f5 commented on #1461
In case of ingress , The controller default partition should be same as virtual-server.f5.com/partition: ACC_KUBERNETES.

Lets dig into the issue step by step by,

For now, Please share all the error logs that you see when you deploy controller only with ingress resource... with No configmap resource in the cluster.

Please share the output of below command

kubectl log deploy/<controller-pod> -n

[2020-08-14 17:04] eduardoriveror commented on #1461
Yes of course. Basically is this, repeated a lot

[code]

[2020-08-15 05:11] anfernee opened #1462 "Log contains plaintext credentials"
#### Setup Details
 CIS Version : 1.14
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP x.x.x
 AS3 Version: 3.x
 Agent Mode: CCCL
 Orchestration: K8S
 Orchestration Version:
 Pool Mode: Cluster/Nodeport
 Additional Setup details: <Platform/CNI Plugins/ cluster nodes/ etc>

#### Description

The controller logs the body of a login request on error which contains plain-text credential

[2020-08-15 05:11] cisbotctlr commented on #1462
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-08-15 05:36] mdditt2000 commented on #1462
@anfernee please can can you one a support ticket SR with F5 support. Please open using iControlUnexpectedHTTPError responding with "originalRequestBody":"{\\"username\\": \\"REDACTED\\", \\"password\\": \\"REDACTED\\".

Please send me the SR number once opened. CIS is the client and therefore should receive such a response from BIG-IP.

I noticed you using CCCL. CIS is moving forward using agent

[2020-08-17 04:04] kylinsoong opened #1464 "CIS AS3 does not support k8s services has multiple port"
#### Setup Details
 CIS Version : 2.1
 Build: f5networks/k8s-bigip-ctlr:2.1
 BIGIP Version: Big IP 14.1.0.5
 AS3 Version: 3.19.1
 Agent Mode: AS3
 Orchestration: K8S
 Orchestration Version:  v1.15.5
 Pool Mode: Cluster

#### Description

CIS AS3 does not support k8s services has multiple port.

The K8S service looks like

[code]

The requirement is that expose 8080 via F5 CIS + AS3, but only 8081

[2020-08-17 04:04] cisbotctlr commented on #1464
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-08-17 14:16] zhu20200720 opened #1465 "Two instance of kubernetes application/service share the same F5 appliance"
#### Setup Details
CIS Version : 2.1.0
Build: f5networks/k8s-bigip-ctlr:latest
BIGIP Version: Big IP 2.1.0
AS3 Version: 3.x
Agent Mode: AS3
Orchestration: K8S
Orchestration Version: 1.16.0
Pool Mode: Nodeport
Additional Setup details: <Platform/CNI Plugins/ cluster nodes/ etc>

#### Description

I have the below scenario. However I don't know if it is going to work or not.

1) there has only one k

[2020-08-17 14:16] cisbotctlr commented on #1465
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-08-17 16:00] mdditt2000 commented on #1464
@kylinsoong you will need to create two services exposing one port. Currently CIS only exposes one port per service. There are plans to resolve this in an upcoming release.

[2020-08-17 16:18] mdditt2000 commented on #1464
Similar to https://github.com/F5Networks/k8s-bigip-ctlr/issues/1155

Internal PM Jira for tracking item in the backlog CONTCNTR-1651, CONTCNTR-539

[2020-08-17 16:18] mdditt2000 commented on #1464
/jira

[2020-08-17 16:31] mdditt2000 commented on #1464
Created a new jira CONTCNTR-2079 for tracking. Target CRD enhancement

[2020-08-17 16:57] mdditt2000 commented on #1465
Good morning @zhu20200720

You above scenario will work fine. Please note the following:

- Use CIS 2.1 and specify the corresponding namespace env1_partition in the CIS arguments. Each CIS will monitor a unique namespace.
- You cannot share services across both namespaces env1_partition, env2_partition. Create unique services.
- Please make sure the base partition in the CIS arguments are unique.

[2020-08-17 17:26] mdditt2000 commented on #1462
@anfernee did you open a support SR with F5 support?

[2020-08-17 17:27] mdditt2000 commented on #1462
Plus @memes

[2020-08-17 17:45] mdditt2000 commented on #1464
SR C3361209 filed with Support

[2020-08-17 17:57] mdditt2000 commented on #1440
Issue resolved and committed. CIS 2.1.1 posting next week.

[2020-08-17 17:57] #1440 closed

[2020-08-17 21:48] zhu20200720 commented on #1465
Thank you @mdditt2000 , I didn't know we could specify --namespace in CIS arguments before. We will create env1_namespace and env2_namespace for applications. For partitions, we will ask F5 team to create env1_partition, env2_partition. If my understanding is correct, if I specify **--namespace**, **--bigip-partition** separately, the two ingress controllers are able to use/share the same **--bigi

[2020-08-17 22:00] mdditt2000 commented on #1465
@zhu20200720 specify the --namespace in CIS arguments that you want CIS to monitor. This would be the same namespace defined in the service/pods that CIS is providing Ingress.

Correct. As the BIG-IP team to create the two partition
1) env1_partition
2) env2_partition

You CIS configuration will look something like this for CIS 1
[code]
CIS 2

[code]

[2020-08-18 02:01] kylinsoong commented on #1464
@mdditt2000 Thanks mark.

[2020-08-18 04:20] mdditt2000 commented on #1391
SR 1-6599740401

Recreated here https://github.com/mdditt2000/kubernetes-1-18/tree/master/cis%202.1/github/1-6599740401

CIS does not like the service.

[code]

Chat with PD

[2020-08-18 06:44] tomaszmzyk opened #1467 "AS3 ERROR declaration.schemaVersion must be one of the following with Controller version 2.1.0"
#### Setup Details
 CIS Version : 2.1
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP 15.1.4
 AS3 Version: 3.21
 Agent Mode: AS3
 Orchestration: OSCP
 Orchestration Version:  3.11
 Pool Mode: Cluster

#### Description
 Hi
During a update to k8s-bigip-ctrl version 2.1.0 I see in container logs:
2020/08/18 06:23:15 [ERROR] [AS3] Template is not valid. see errors
2020/08/18 06:23:15 [

[2020-08-18 06:44] cisbotctlr commented on #1467
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-08-18 06:49] veeramalla-f5 commented on #1467
@tomaszmzyk  This is a known issue with 2.1.0 and will be fixed as part of 2.1.1(releasing soon).

Solution:
1. Use a patch build we created for customers who cant wait for 2.1.1
   f5networksdevel/k8s-bigip-ctlr:as3_21Support

or

2. Disable AS3 Validation using --validate=false

Regards,
Abhishek Veeramalla

[2020-08-18 10:41] veeramalla-f5 commented on #1467
@tomaszmzyk Please let me know if it worked for you.

[2020-08-18 11:01] tomaszmzyk commented on #1467
Hi
After update to version from your comment, indeed  works without errors.
I have one more question.
Is exist documentation for all options when we deploy k8s-bigip-ctrl, for example options:

--validate=false

Thanks in advance.
Regards

[2020-08-18 11:09] veeramalla-f5 commented on #1467
@tomaszmzyk , We are currently working on updating our documentation for Controller Deployment and Global Parameters. It will also be available part of our next release (2.1.1)

[2020-08-18 12:32] #1467 closed

[2020-08-18 12:52] #1433 closed

[2020-08-18 12:54] veeramalla-f5 commented on #1433
Will be fixed as part of 3.21

Intermediate image for use:
f5networksdevel/k8s-bigip-ctlr:as3_21Support

[2020-08-18 15:50] kunalpuriii commented on #901
@mdditt2000 Thanks for your help sofar, Do you have any update on this case?
@codereflection have you faced issue during downscale or upscale? I understand in your case all cluster nodes are running the pods, so it may not be the issue.

We have faced issues when downscale the Ingress controllers as health monitor takes 16 seconds to timeout a worker node and for those seconds traffic is dropped.

[2020-08-18 15:52] mdditt2000 commented on #1391
Good morning @f5minions

Issue is the kubernetes services has no endpoints and therefore CIS logs the following error message

panic: runtime error: invalid memory address or nil pointer dereference [recovered]
panic: runtime error: invalid memory address or **nil pointer dereference**

Speaking with development CIS needs a valid endpoint for Ingress. Providing Ingress to the Kubernetes service is

[2020-08-18 16:11] mdditt2000 commented on #901
Good morning @kunalpuriii - the best option is to create node label for the worker nodes as defined in this document https://github.com/mdditt2000/kubernetes-1-18/blob/master/kubernetes-faq.md#manage-node-labels

Using f5role=worker on worker nodes will show up as pool members.
[code]

[2020-08-18 17:35] kunalpuriii commented on #901
@mdditt2000 thanks for you response, Will this allow only the worker nodes where ingress controller is running will be added in the POOL and not all the nodes?

[2020-08-18 17:42] sfudeus commented on #901
@kunalpuriii that will add all nodes with that label, regardless of which pods are on them, and will rely on health checks. You might be interested in our talk at KubeCon tomorrow if you attend (https://sched.co/Zemo). We established a workaround for that issue. Ultimately, integrating F5 into the cluster via vxlan will be the proper solution.

[2020-08-18 19:58] mdditt2000 commented on #901
@kunalpuriii yes. When using nodeport, please use node label of say "worker" so only worker nodes get added to the load balancing pool. @sfudeus great presentation. Thank you for sharing

[2020-08-18 22:32] mdditt2000 commented on #1391
Filed Jira in the CIS backlog for PM tracking. CONTCNTR-2085

[2020-08-19 11:38] kunalpuriii commented on #901
@sfudeus sorry could not join the session, Do we have recording of the session to know about workaround.

[2020-08-19 12:34] sfudeus commented on #901
@kunalpuriii If you are on the conference, it will be available on demand rather fast. I can post the link here once it is available on YouTube.

[2020-08-19 19:40] veeramalla-f5 commented on #1240
@anjkl I tried to reproduce the issue. I do not see any issue.

CIS/CC does not create/update or delete any resources once restart
2020/08/19 19:32:13 [DEBUG] [2020-08-19 19:32:13,879 f5_cccl.service.manager DEBUG] Creating 0 resources...
2020/08/19 19:32:13 [DEBUG] [2020-08-19 19:32:13,879 f5_cccl.service.manager DEBUG] Updating 0 resources...
2020/08/19 19:32:13 [DEBUG] [2020-08-19 19:32:13,879

[2020-08-19 23:33] danielitus opened #1472 "Slow performance on updating pool members with v1.14.0"
#### Setup Details
 CIS Version : 1.14.0
 Build: f5networks/k8s-bigip-ctlr:1.14.0
 BIGIP Version: Big IP 14.1.2.6
 AS3 Version: 3.20
 Agent Mode: AS3
 Orchestration: K8S
 Orchestration Version: v1.18.6-1+64f53401f200a7
 Pool Mode: Cluster

#### Description

I'm getting the same symptoms as described in this closed issue.
[https://github.com/F5Networks/k8s-bigip-ctlr/issues/1068](url)

#### Steps T

[2020-08-19 23:33] cisbotctlr commented on #1472
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-08-20 08:00] nandakishorepeddi commented on #1472
Hi @danielitus,

Could you try using service_HTTP instead of service_TCP for port 80 and service_HTTPS for 443 port.
And  also  in CIS deployment, could you please modify from  --manage-configmaps=false  to true. As we are listening for configmap.

[2020-08-20 13:13] danielitus commented on #1472
Setting manage-configmaps to true did the trick. Thanks!

[2020-08-20 14:43] #1472 closed

[2020-08-20 14:51] mdditt2000 commented on #1472
thanks @nandakishorepeddi for helping @danielitus resolve this.

[2020-08-20 19:58] mdditt2000 commented on #1461
afternoon @eduardoriveror i finished recreating your issue and it works perfectly

[code]

[code]

Please review the files i used

https://github.com/mdditt2000/kubernetes-1-18/tree/master/cis%202.1/github/1461

[2020-08-20 20:10] mdditt2000 commented on #1415
https://clouddocs.f5.com/containers/latest/userguide/config-map.html#delete-as3-configmap resolved. Closing issue

[2020-08-20 20:10] #1415 closed

[2020-08-24 09:27] eduardoriveror commented on #1461
HI @mdditt2000 Sorry for the late response, short leave.

I am checking the files in the repo and i spotted the only difference of you using flannel vxlan. We use calico and we set up BGP peering between all the nodes and the BIG-IP system itself. Is it possible for you to add the service file in your repo?

[2020-08-24 09:45] eduardoriveror commented on #1461
Is there a way to set the default route domain via ingress annotation or in the controller itself as a flag? What I see is that the ingress declaration fails with error 400 and is because a merge conflict with the default template as i see in this two errors:

```map[code:ERR_REQUEST_FAILED host:localhost message:declaration failed response:POST http://admin:XXXXXX@localhost:8100/mgmt/tm/sys/confi

[2020-08-24 11:58] kunalpuriii commented on #1344
@mdditt2000 @nandakishorepeddi thanks for your help.yeah it worked with combination of CIS 2.0 and AS3-18,

one more query
--bigip-url=https://x.x.x.x:8443(what are the maximum no. of F5 are supported in F5CIS implementation)
We have around 20 F5 where we want to push this configuration? Do i need to add 20 lines for bigip-url or separated by commas?
Also f5-appsvcs is it pre-requisite to install

[2020-08-24 15:42] nandakishorepeddi commented on #1344
Currently, the CIS controller supports only one BIGIP (F5). For 20 BIGIP's, 20 CIS Controllers are required.
--bigip-url supports only one BIGIP(F5) device

[2020-08-24 16:06] kunalpuriii commented on #1344
@nandakishorepeddi so using 20 different CIS we will send same configuration to 20 different F5

any idea when will CIS support multiple F5 devices?

[2020-08-24 16:53] mdditt2000 commented on #1344
@kunalpuriii you need a dedicated CIS instance per BIG-IP tenant. However having 20 API calls won't be able to be processed simultaneously. Therefore if CIS is updating 20 different instances you going to receive a 503 "AS3 busy message"

I need to understand your use-case to better understand what you trying to achieve. Can we setup a call with your local F5 sales team and myself?

[2020-08-24 17:21] kunalpuriii commented on #1344
@mdditt2000 thanks for your response. Will it still be an issue( 503 "AS3 busy message") if we have different CIS for each F5.
I am in touch with F5 Sales team, I will reach out to them and keep you informed.
Brief information is we have multi tenant design.

[2020-08-24 17:53] mdditt2000 commented on #1344
If BIG-IP AS3 API is busy a 503 will be returned. When CIS receives a 503 a post-delay action will take effect. You can specifies the time, in seconds, that CIS waits to post the available AS3 declaration. Recommend 120s when using multiple CIS instances per BIG-IP https://clouddocs.f5.com/containers/latest/userguide/config-parameters.html#as3-parameters

Please have your Sales team reach out to m

[2020-08-24 20:38] zhu20200720 commented on #1451
For F5 appliance failover testing, we observed the below behavior.

Steps

- Active F5 is brought down
- Standby F5 is made Active
- We make a change on the current F5 UI (deleted a worker node, etc)

We expect Ingress controller should update the F5 and overwrite the changes with the current state of the kubernetes cluster. However we observed that the ingress controller did not overwrite the man

[2020-08-25 12:17] anjkl commented on #1240
I tried to reproduce the issue using the latest version (2.1.0) of the controller. It was run with the following parameters:

    - --credentials-directory=/credentials-directory
    - --bigip-partition=SANDBOX_K8S
    - --pool-member-type=cluster
    - --namespace-label=bigip
    - --log-level=DEBUG
    - --insecure=true
    - --agent=cccl

Similar logs that you provided:

    2020/08/25 09:24:04

[2020-08-25 15:24] fchmainy opened #1479 "clouddocs needs to be updated with "apps/v1" [DOC]"
#### Setup Details
 CIS Version : 2.X
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP x.x.x
 AS3 Version: 3.x
 Agent Mode: AS3/CCCL
 Orchestration: K8S/OSCP
 Orchestration Version:
 Pool Mode: Cluster/Nodeport
 Additional Setup details: <Platform/CNI Plugins/ cluster nodes/ etc>

#### Description
examples on clouddocs still have "extensions/v1beta1" for API Version but it has been

[2020-08-25 15:24] cisbotctlr commented on #1479
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-08-25 16:54] mdditt2000 commented on #1479
/jira

[2020-08-25 17:09] mdditt2000 commented on #1479
Jira for PM tracking CONTCNTR-2108

[2020-08-25 17:10] mdditt2000 commented on #1479
Document needs to be

[code]

[2020-08-25 17:11] mdditt2000 commented on #1479
Request @vtrippel to make the modifications

[2020-08-26 00:49] ssthomas opened #1480 "parseVtepMac doesn't properly parse flannel.alpha.coreos.com/backend-data: {"VNI":4096,"VtepMAC":"00:15:5d:b3:ac:db"}"
#### Setup Details
 CIS Version : 2.X
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP x.x.x
 AS3 Version: 3.x
 Agent Mode: AS3/CCCL
 Orchestration: K8S/OSCP
 Orchestration Version:
 Pool Mode: Cluster/Nodeport
 Additional Setup details: <Platform/CNI Plugins/ cluster nodes/ etc>

#### Description

parseVtepMac parses JSON data as a string rather than JSON. As a result, valid JSON s

[2020-08-26 00:49] cisbotctlr commented on #1480
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-08-26 14:14] chen23 opened #1485 "docs only mention OCP 3.11"
#### Description

Docs only mention OCP 3.11 and can only find mention of 4.x in release notes.

https://clouddocs.f5.com/containers/latest/userguide/openshift/

[2020-08-26 14:14] cisbotctlr commented on #1485
cisbot will assign the issue to one of the devs.
 @devs, use /jira for internal tracking.

[2020-08-27 13:48] ssthomas commented on #1480
This is related to SR C3364277

[2020-08-27 19:55] mdditt2000 commented on #1485
@chen23 I will get this resolved. The support matrix is updated. https://clouddocs.f5.com/containers/latest/userguide/what-is.html#releases-and-versioning

TY for filing this!

[2020-08-28 15:59] mdditt2000 commented on #1397
Option to add SNAT, No SNAT or use a SNAT policy has been added to CRDs and will be released in the CIS 2.2 release.

Example:

[code]

Pull request   https://github.com/F5Networks/k8s-bigip-ctlr/pull/1487

Image is available to test if requested.

[2020-08-28 17:33] mdditt2000 commented on #1430
Documented and released as part of CIS 2.1. Closing issue out

[2020-08-28 17:33] #1430 closed

[2020-08-28 17:35] mdditt2000 commented on #1387
Resolved in CIS 2.1.1. Closing issue

[2020-08-28 17:35] #1387 closed

[2020-08-28 17:37] mdditt2000 commented on #1465
Closing out

[2020-08-28 17:37] #1465 closed

[2020-08-28 17:41] mdditt2000 commented on #1461
@eduardoriveror so you aren't using the route domain of 0?

[2020-08-28 17:45] mdditt2000 commented on #1461
@eduardoriveror please look at https://github.com/F5Networks/k8s-bigip-ctlr/issues/1287

You can add a system level configuration that will merge with the Ingress before sending to BIG-IP

[code]

[2020-08-28 19:07] chen23 opened #1488 "Unable to update the FDB entries on BIG IP 16 using F5 SDK"
#### Setup Details
 CIS Version : 2.1.1
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP 16
 AS3 Version: 3.21
 Agent Mode: AS3/CCCL
 Orchestration: OSCP      4.3
 Orchestration Version:
 Pool Mode: Cluster/Nodeport
 Additional Setup details: Using OVS

#### Description

When you use BIG-IP 16.0.0 you get an error when trying to make fdb updates.  This results in not being able to c

[2020-09-01 17:18] mdditt2000 commented on #1397
Good morning @liorfranko @pcloup  I have a CRD build that supports no snat option. Here is the schema

https://github.com/F5Networks/k8s-bigip-ctlr/blob/master/docs/_static/config_examples/crd/Install/customresourcedefinitions.yml

CRDs also support Node label for NodePort and a service with multiple ports. Can i provide you a build for testing?

[2020-09-03 09:46] eduardoriveror commented on #1461
Hi @mdditt2000 For a working demo purpose, i solved it for now using cccl agent. Now I am able to create virtual servers with ingress, with a lot of things that i need to configure manually though. I will be testing the override config but if needed for now you can close this issue

Thanks a lot for the help

[2020-09-04 16:10] mdditt2000 commented on #1488
Jira CONTCNTR-2034 for PM tracking. CIS planning to validate BIG-IP for the CIS 2.2 release. This item is one of the acceptance criterias

[2020-09-07 14:51] YacovNagose opened #1496 "VIP name not same as configured in CRD"
#### Setup Details
 CIS Version : 2.0
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP1.13.1.5
 AS3 Version: 3.19.1
 Agent Mode: AS3
 Orchestration: K8S
 Orchestration Version: 1.17
 Pool Mode: Nodeport
 Additional Setup details: Calico

#### Description

The VIP name isn't the same as configured in the CRD, it creates a name that starts with
crd_Ip address

#### Steps To Reproduce

[2020-09-08 05:25] mdditt2000 commented on #1457
@joebride please could you open another Github issue for the following

Observations (if any)
In iRule openshift_passthrough_irule the variable "$dflt_pool" could not be set correctly when http/2-profile is linked to VS.

Would like to track this separately. Thanks Mark

[2020-09-08 10:06] kunalpuriii commented on #901
Hello @sfudeus do we have this on youtube yet?

[2020-09-08 10:16] sfudeus commented on #901
Yes, was just uploaded a few days ago: https://youtu.be/pmuzOWB64Sg

[2020-09-08 11:11] joebride opened #1498 "In iRule openshift_passthrough_irule the variable "$dflt_pool" could not be set correctly when http/2-profile is linked to VS"
#### Setup Details
 CIS Version : 2.1.0
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP 15.1.0.3
 AS3 Version: 3.20.0-build3
 Agent Mode: AS3
 Orchestration: K8S/OSCP      v1.17.1, OS v4.2
 Orchestration Version:
 Pool Mode: Cluster
 Additional Setup details: VS using http/2-profile on client-side

#### Description
When I added a http/2-profile (clientside only) to my virtual-serve

[2020-09-08 16:45] mdditt2000 commented on #1498
Jira created for internal PM tracking CONTCNTR-2133

[2020-09-08 17:25] mdditt2000 commented on #1496
Added to the next development sprint as CONTCNTR-2128

[2020-09-08 18:42] renatonader opened #1499 "Node Selector for CIS"
#### Title
nodeSelector for CIS

#### Description
It would be great if it was possible to choose the node where the CIS would run using nodeSelector to assign CIS to a specific node.

#### Actual Problem
We can't select on which node will CIS run.

#### Solution Proposed
Use something like nodeSelector to assign a specific node to CIS.
https://kubernetes.io/docs/concepts/scheduling-eviction/assign

[2020-09-09 07:36] YacovNagose commented on #1496
Thank you.
בברכה,
יעקב.

On Tue, Sep 8, 2020 at 8:25 PM mark dittmer <notifications@github.com>
wrote:

[2020-09-09 07:40] hailong200166 opened #1500 "https://github.com/F5Networks/k8s-bigip-ctlr/issues/new"

[2020-09-09 07:41] hailong200166 opened #1501 "0xc0004fa120"

[2020-09-09 07:41] #1501 closed

[2020-09-09 07:42] #1500 closed

[2020-09-10 15:57] mdditt2000 commented on #1488
@vklohiya started validation of BIGv16 for **standalone**.

**ARP Validated.**

Able to create static arp using F5-SDK -->.

bigip._conn.tm.net.arps.arp.create(partition="test", name="s1", ipAddress="10.244.1.252", macAddress="16:eb:5e:6a:67:17")

[2020-09-10 18:46] chen23 opened #1503 "openshift docs user guide (do not need to setup RBAC when using operator)"
## Description

The user guide describes setting up RBAC, but when using the operator you do not need to setup RBAC.

[2020-09-11 23:40] liuyuan10 opened #1504 "How to set "Action On Service Down" for service"
#### Title
How to set "Action On Service Down" for service

#### Description
Some service requires "Action On Service Down" set to "reject". Is there a way to set it through the k8s bigip controller. AFAIK, it doesn't.

#### Actual Problem
We are fine if we can simply set it through F5 management UI manually. But we notice that during k8s cluster upgrade, where all pods and nodes are reloaded, the

[2020-09-14 22:32] mdditt2000 commented on #1488
**Workaround solution**:

bigip._conn.tm.net.fdb.tunnels.raw['_meta_data']['icontrol_version']=bigip._conn.tmos_version

[2020-09-15 00:18] chen23 commented on #1488
@mdditt2000 there's some overhead with specifying a schema (at least in older versions?). I would recommend omitting a specific version string or check for the version and handle different responses (if any exist)

[2020-09-15 02:04] mdditt2000 commented on #1488
Will check @vklohiya on the proposed solution tonight and update you. Most likely updating the schema version in CIS

[2020-09-15 05:57] vklohiya commented on #1488
@chen23 , We are not putting any version check we are just updating the icontrol version to the bigip version which is fetched while creating the connection, There is no conditional version checks added for fix. Please use the following image for testing with TMOS 16:   **vklohiya1/k8s-bigip-ctlr:big16-7**

[2020-09-16 16:33] vtog opened #1508 "[Log] 400 Unexpected Error: Bad Request for uri"
#### Setup Details
 CIS Version : 2.1.1
 Build: f5networks/k8s-bigip-ctlr:latest
 BIGIP Version: Big IP x.x.x
 AS3 Version: 3.20
 Agent Mode: AS3/CCCL
 Orchestration: K8S/OSCP
 Orchestration Version:
 Pool Mode: Cluster/Nodeport
 Additional Setup details: <Platform/CNI Plugins/ cluster nodes/ etc>

#### Description
Seeing yucky error in logs not affecting deployment.

#### Steps To Reproduce
1) Se

[2020-09-16 21:46] anfernee commented on #1504
cc @memes

[2020-09-17 16:54] mdditt2000 commented on #1488
@chen23 On further debugging found that F5 SDK is not able to get all the FDB records under tunnel object. @vklohiya will be submitting a BZ

[2020-09-17 20:55] zhu20200720 opened #1510 "Mapping arguments in CIS or Ingress for virtual server configurations"
#### Setup Details
CIS Version : 2.1.0
Build: f5networks/k8s-bigip-ctlr:latest
BIGIP Version: Big IP 2.1.0
AS3 Version: 3.x
Agent Mode: AS3
Orchestration: K8S
Orchestration Version: 1.18.8
Pool Mode: Nodeport
Additional Setup details: <Platform/CNI Plugins/ cluster nodes/ etc>

#### Description

We want to change a few setting for virtual server, the following screenshots captured what we want to